@model WebApplication6.ViewModel<WebApplication6.DefectContainer>
@Html.Partial("baseheader")
<br>
<h2>View Defect</h2>
<br>


<form-self multipartencoding="true" index="false" />
<div class="form-horizontal">
    <input type="hidden" name="defect_id" for="defect_id" value="@Model.entity.defect_id" />
    <input type="hidden" name="test_run_id" for="test_run_id" value="@Model.entity.test_run_id" />
    <div class="form-group">
        <label class="control-label col-md-2" for="name">name</label>
        <div class="col-md-10"><input class="form-control" id="name" name="name" readonly="readonly" maxlength="50" value="@Model.entity.name" /></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="defect_type_id">type</label>
        <div class="col-md-10"><select class="form-control" id="defect_type_id" name="defect_type_id" readonly="readonly" ><dropdown-options for=@Model.dropdowns[6] value=@Model.entity.defect_type_id></dropdown-options></select></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="phase_id">phase</label>
        <div class="col-md-10"><select class="form-control" id="phase_id" name="phase_id" readonly="readonly" ><dropdown-options for=@Model.dropdowns[7] value=@Model.entity.phase_id></dropdown-options></select></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="description">description</label>
        <div class="col-md-10"><textarea class="form-control" id="description" name="description" readonly="readonly" rows="6" />@Model.entity.description</textarea></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="status_comment">latest status</label>
        <div class="col-md-10"><textarea class="form-control" id="status_comment" name="status_comment" readonly="readonly" rows="6" />@Model.entity.status_comment</textarea></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="tags">tags</label>
        <div class="col-md-10"><input class="form-control" id="tags" name="tags" readonly="readonly" maxlength="255" value="@Model.entity.tags" /></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="module_id">functuio</label>
        <div class="col-md-10"><select class="form-control" id="module_id" name="module_id" readonly="readonly"><dropdown-options for=@Model.dropdowns[0] value=@Model.entity.module_id></dropdown-options></select></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="found_by">raised by</label>
        <div class="col-md-10"><select class="form-control" id="found_by" name="found_by" readonly="readonly"><dropdown-options for=@Model.dropdowns[1] value=@Model.entity.found_by></dropdown-options></select></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="found_by">assigned to</label>
        <div class="col-md-10"><select class="form-control" id="assigned_to" name="assigned_to" readonly="readonly"><dropdown-options for=@Model.dropdowns[1] value=@Model.entity.assigned_to></dropdown-options></select></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="defect_status_id">defect status</label>
        <div class="col-md-10"><select class="form-control" id="defect_status_id" name="defect_status_id" readonly="readonly"><dropdown-options for=@Model.dropdowns[4] value=@Model.entity.defect_status_id></dropdown-options></select></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="closure_reason_id">closure reason</label>
        <div class="col-md-10"><select class="form-control" id="closure_reason_id" name="closure_reason_id" readonly="readonly"><dropdown-options for=@Model.dropdowns[5] value=@Model.entity.closure_reason_id></dropdown-options></select></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="priority_id">priority</label>
        <div class="col-md-10"><select class="form-control" id="priority_id" name="priority_id" readonly="readonly"><dropdown-options for=@Model.dropdowns[2] value=@Model.entity.priority_id></dropdown-options></select></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="severity_id">severity</label>
        <div class="col-md-10 form-inline">
            <select class="form-control" id="severity_id" name="severity_id" readonly="readonly"><dropdown-options for=@Model.dropdowns[3] value=@Model.entity.severity_id></dropdown-options></select><a class="btn popovertext" href="#" data-html="true" data-content="
                                                                                                                                                              &lt;b&gt;Now&lt;/b&gt;: Needs to be fixed now e.g. a patch to the current release &lt;br/&gt;
            &lt;b&gt;Next&lt;/b&gt;: Needs to be fixed in the next release &#10; &lt;br/&gt;
            &lt;b&gt;Before&lt;/b&gt;: Needs to be fixed before go-live &#10; &lt;br/&gt;
            &lt;b&gt;After&lt;/b&gt;: Can be fixed after go-live
            " rel="popover" data-placement="bottom" data-trigger="hover"><span style="color: black;" class="glyphicon glyphicon-question-sign"></span></a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="found_date">date raised</label>
        <div class="col-md-10"><input type="date" class="form-control" id="found_date" readonly="readonly" name="found_date" value="@Model.entity.found_date.ToString("yyyy-MM-dd")" /></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="found_date">date due</label>
        <div class="col-md-10"><input type="date" class="form-control" id="due_date" name="due_date" readonly="readonly" value="@(Model.entity.due_date?.ToString("yyyy-MM-dd"))" /></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="external_ref">external ref</label>
        <div class="col-md-10 form-inline"><input class="form-control" id="external_ref" name="external_ref"  readonly="readonly" maxlength="255" value="@Model.entity.external_ref" /><a class="btn popovertext" href="#" data-html="true" data-content="(optional) ID for supplier's defect tracking system" rel="popover" data-placement="bottom" data-trigger="hover"><span style="color: black;" class="glyphicon glyphicon-question-sign"></span></a></div>
    </div>
    <multi-field mf=@Model.mf[0]></multi-field>
    <div id="errorstring"></div>
</div>
</form>
<br>
<div>
    <a class="btn btn-default" href="/defects/Index/@Model.project">Back to Index</a><div class="divider"></div><a class="btn btn-primary" href="/defects/AssignOrUpdate/@Model.project?defect_id=@Model.entity.defect_id">Assign or Update</a><div class="divider"></div><a class="btn btn-primary" href="/defects/Edit/@Model.project/@Model.entity.defect_id">Edit Details</a><div class="divider"></div>@if(@Model.entity.defect_status_id <= 2) {<a class="btn btn-default" href="/defects/Completion/@Model.project?defect_id=@Model.entity.defect_id">Mark As Resolved</a>}<div class="divider"></div><a class="btn btn-default" href="/defects/History/@Model.project?defect_id=@Model.entity.defect_id">View history</a></div>
</div>


@Html.Partial("basefooter")