@model WebApplication6.ViewModel<WebApplication6.defects> 
@Html.Partial("baseheader")
 <br>           
<h2>Delete Defect </h2>
<br>

   
<form-self  multipartencoding="true"  index="false" />
    <div class="form-horizontal">
        <input type="hidden" name="defect_id" for="defect_id" value="@Model.entity.defect_id" />
<input type="hidden" name="last_modified_by" for="last_modified_by" value="@Model.entity.last_modified_by" />
<input type="hidden" name="last_modified_date" for="last_modified_date" value="@Model.entity.last_modified_date" />
<input type="hidden" name="project_id" for="project_id" value="@Model.entity.project_id" />
<input type="hidden" name="test_run_id" for="test_run_id" value="@Model.entity.test_run_id" />
<div class="form-group">
            <label class="control-label col-md-2" for="name">name</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.name</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="description">description</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.description</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="tags">tags</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.tags</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="module_id">functional area</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.module?.name ?? ""</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="found_by">found by</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.found_byNavigation?.name ?? ""</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="found_date">found date</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.found_date</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="external_ref">external ref</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.external_ref</p></div>
            </div>
<div></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" name="Submit" onclick="document.forms[0].submit()" class="btn btn-primary" />Delete</button>
            </div>
        </div>
        <div id="errorstring"></div>
    </div>
</form>
<br>
<div>
    <a class="btn btn-default" href="/defects/Index/@Model.project"> Back to Index</a><div class="divider"></div><a class="btn btn-default" href="/defects/AssignOrUpdate/@Model.project?defect_id=@Model.entity.defect_id">Reassign or update status</a><div class="divider"></div><a class="btn btn-default" href="/defects/History/@Model.project?defect_id=@Model.entity.defect_id">View history</a><div class="divider"></div><a class="btn btn-default" href="/defects/Edit/@Model.project/@Model.entity.defect_id">Edit</a><div class="divider"></div>
</div>


 @Html.Partial("basefooter")