@model WebApplication6.ViewModel<WebApplication6.defects> 
@Html.Partial("baseheader")
 <br>           
<h2>Edit Issue</h2>
<br>

   
<form-self  multipartencoding="true"  index="false" />
    <div class="form-horizontal">
        <input type="hidden" name="defect_id" for="defect_id" value="@Model.entity.defect_id" />
<input type="hidden" name="last_modified_by" for="last_modified_by" value="@Model.entity.last_modified_by" />
<input type="hidden" name="last_modified_date" for="last_modified_date" value="@Model.entity.last_modified_date" />
<input type="hidden" name="project_id" for="project_id" value="@Model.entity.project_id" />
<input type="hidden" name="test_run_id" for="test_run_id" value="@Model.entity.test_run_id" />
<div class="form-group">
            <label class="control-label col-md-2" for="name">name</label>
            <div class="col-md-10"><input class="form-control" id="name" name="name" maxlength="50" value="@(System.Net.WebUtility.HtmlDecode(@Model.entity.name))"  /></div>
            </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="defect_type_id">type</label>
            <div class="col-md-10"><select class="form-control" id="defect_type_id" name="defect_type_id"><dropdown-options for=@Model.dropdowns[2] value=@Model.entity.defect_type_id></dropdown-options></select></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="phase_id">phase</label>
            <div class="col-md-10"><select class="form-control" id="phase_id" name="phase_id"><dropdown-options for=@Model.dropdowns[3] value=@Model.entity.phase_id></dropdown-options></select></div>
        </div>
<div class="form-group">
            <label class="control-label col-md-2" for="description">description</label>
            <div class="col-md-10"><textarea class="form-control" id="description" name="description"  rows="6"  />@(System.Net.WebUtility.HtmlDecode(Model.entity.description))</textarea></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="tags">tags</label>
            <div class="col-md-10"><input class="form-control" id="tags" name="tags" maxlength="255" value="@(System.Net.WebUtility.HtmlDecode(@Model.entity.tags))"  /></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="module_id">functional area</label>
            <div class="col-md-10"><select class="form-control"   id="module_id" name="module_id"><dropdown-options for=@Model.dropdowns[0] value=@Model.entity.module_id></dropdown-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="found_by">raised by</label>
            <div class="col-md-10"><select class="form-control"   id="found_by" name="found_by"><dropdown-options for=@Model.dropdowns[1] value=@Model.entity.found_by></dropdown-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="found_date">date raised</label>
            <div class="col-md-10"><input type="date" class="form-control" id="found_date" name="found_date" value="@Model.entity.found_date.ToString("yyyy-MM-dd")"/></div>
            </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="found_date">date due</label>
            <div class="col-md-10"><input type="date" class="form-control datepicker" id="due_date" name="due_date" value="@(Model.entity.due_date?.ToString("yyyy-MM-dd"))" /></div>
        </div>
<div class="form-group">
            <label class="control-label col-md-2" for="external_ref">external ref</label>
            <div class="col-md-10 form-inline"><input class="form-control" id="external_ref" name="external_ref" maxlength="255" value="@(System.Net.WebUtility.HtmlDecode(@Model.entity.external_ref))"  /><a class="btn popovertext" href="#" data-html="true" data-content="(optional) ID for supplier's defect tracking system" rel="popover" data-placement="bottom" data-trigger="hover"><span style="color: black;" class="glyphicon glyphicon-question-sign"></span></a></div>
            </div>
<multi-field mf=@Model.mf[0]></multi-field>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" name="Submit" onclick="var form = document.forms[0]; var error = ''; if (!isValidDate(form['due_date'].value) && form['due_date'].value != '') { error += 'Due date must be in the format yyyy-MM-dd or left blank<br>'; }; if (!isValidDate(form['found_date'].value)) { error += 'Raised date must be in format yyyy-MM-dd<br>'; }; if (form['name'].value.length < 5) { error += 'Name must be greater than 4 characters<br>'; }; if (error == '') { document.forms[0].submit(); } else { document.getElementById('errorstring').innerHTML = error; };" class="btn btn-primary" />Save</button>
            </div>
        </div>
        <div id="errorstring"></div>
    </div>
</form>
<br>
<div>
    <a class="btn btn-default" href="/defects/Index/@Model.project"> Back to Index</a><div class="divider"></div><a class="btn btn-default" href="/defects/AssignOrUpdate/@Model.project?defect_id=@Model.entity.defect_id">Reassign or update status</a><div class="divider"></div><a class="btn btn-default" href="/defects/History/@Model.project?defect_id=@Model.entity.defect_id">View history</a><div class="divider"></div><a class="btn btn-default" href="/defects/Delete/@Model.project/@Model.entity.defect_id">Delete</a><div class="divider"></div>@if (@Model.entity.test_run_id != null)
    {<a class="btn btn-default" href="/testruns/Edit/@Model.project/@Model.entity.test_run_id">View Test Run</a><div class="divider"></div>}
</div>


 @Html.Partial("basefooter")