@model WebApplication6.IndexViewModel<WebApplication6.DefectContainer> 
@Html.Partial("baseheader")
 <br>           
<h2>Search Issues</h2>
<br>


   <form-self  index="true" />    
    <div class="form-group">
            <label class="control-label col-md-2" for="name">name</label>
            <div class="col-md-10"><input class="form-control" id="name" name="name" maxlength="50" value="@ViewContext.HttpContext.Request.Query["name"].FirstOrDefault()"  /></div>
            </div>
    <searchdiv showbox="@Model.querystring" /><div class="form-group">
            <label class="control-label col-md-2" for="module_id">func. area</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="module_id" name="module_id"><filter-options for="@Model.filters[0]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="found_by_id">found by</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="found_by_id" name="found_by_id"><filter-options for="@Model.filters[1]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="assigned_to_id">assigned to</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="assigned_to_id" name="assigned_to_id"><filter-options for="@Model.filters[2]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="defect_status_id">defect status</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="defect_status_id" name="defect_status_id"><filter-options for="@Model.filters[3]"></filter-options></select></div>
            </div>
<div class="form-group">
    <label class="control-label col-md-2" for="defect_type_id">type</label>
    <div class="col-md-10"><select class="form-control" onchange="this.form.submit()" id="defect_type_id" name="defect_type_id"><filter-options for="@Model.filters[6]"></filter-options></select></div>
</div>
<div class="form-group">
    <label class="control-label col-md-2" for="phase_id">phase</label>
    <div class="col-md-10"><select class="form-control" onchange="this.form.submit()" id="phase_id" name="phase_id"><filter-options for="@Model.filters[7]"></filter-options></select></div>
</div>
<div class="form-group">
            <label class="control-label col-md-2" for="priority_id">priority</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="priority_id" name="priority_id"><filter-options for="@Model.filters[4]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="severity_id">severity</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="severity_id" name="severity_id"><filter-options for="@Model.filters[5]"></filter-options></select></div>
            </div>
<div class="form-group">
    <label class="control-label col-md-2" for="due_date_status">due date status</label>
    <div class="col-md-10"><select class="form-control" onchange="this.form.submit()" id="due_date_status" name="due_date_status"><filter-options for="@Model.filters[8]"></filter-options></select></div>
</div>
<div class="form-group">
            <label class="control-label col-md-2" for="run on or after">raised on or after</label>
            <div class="col-md-10"><input type="date" class="form-control" id="start_date" name="start_date" value="@(ViewContext.HttpContext.Request.Query["start_date"].FirstOrDefault() ?? "2010-01-01")"/></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="run on or before">raised on or before</label>
            <div class="col-md-10"><input type="date" class="form-control" id="end_date" name="end_date" value="@(ViewContext.HttpContext.Request.Query["end_date"].FirstOrDefault() ?? "2020-01-01")"/></div>
            </div>
<div class="form-group">
    <label class="control-label col-md-2" for="due on or after">due on or after</label>
    <div class="col-md-10"><input type="date" class="form-control" id="due_start_date" name="due_start_date" value="@(ViewContext.HttpContext.Request.Query["due_start_date"].FirstOrDefault())" /></div>
</div>
<div class="form-group">
    <label class="control-label col-md-2" for="due on or before">due on or before</label>
    <div class="col-md-10"><input type="date" class="form-control" id="due_end_date" name="due_end_date" value="@(ViewContext.HttpContext.Request.Query["due_end_date"].FirstOrDefault())" /></div>
</div></div>
    <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10 form-inline">
                <input type="submit" name="Search" value="Search" class="btn btn-primary" />
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#search">Show/Hide Filters</button>
                <a class="btn btn-default" href="/defects/Index/@Model.project/">Reset</a>
            </div>
    </div>
    </form>

<form class="form-horizontal">
<div class="form-group">
<div class="col-md-12  form-inline">
<div class="form-group">
<page-number filters="Model.filters_generic" modellist="Model.entities_generic"></page-number>
</div>
<div style="display: inline-block; width: 20px; height:auto;"></div>
<form class="form-group"><a class="btn btn-default" href="/defects/Create/@Model.project/">Create New</a></form>
<div class="divider-s"></div>
<form class="form-group"><input type="submit" name="button_name" value="Generate Report" class="btn btn-default" /></form>
<div class="divider-s"></div>
    <form class="form-group" action="/defects/UploadBulkImport/@Model.project" method="get">
        <input type="submit" value="Bulk Import" class="btn btn-default" />
    </form>
</div>
</div>
<form>
<table class="table">
<tr>
<th class=col-md-1>#</th>
<th class=col-md-1>name</th>
<th class=col-md-1>func. area</th>
<th class=col-md-1>raised by</th>
<th class=col-md-1>raised date</th>
<th class=col-md-1>due date</th>
<th class=col-md-1>test</th>
<th class=col-md-1>run date</th>
<th class=col-md-1>type</th>
<th class=col-md-1>assigned to</th>
<th class=col-md-1>phase</th>
<th class=col-md-1>ref</th>
<th class=col-md-1>status</th>
<th class=col-md-2></th></tr>
 @{int i = 0; }
            @foreach (var item in Model.entities)
            {
                <table-row for="@item" rownum="@i" test-cycle-id="@Model.test_cycle_id" columns="@Model.columns"></table-row><td><div class="btn-group-vertical">
@if (Model.role.IsManager())
{
    <a class="btn btn-primary" href="/defects/AssignOrUpdate/@Model.project?defect_id=@item.defect_id">Reassign or update status</a><a class="btn btn-default" href="/defects/History/@Model.project?defect_id=@item.defect_id">View history</a><a class="btn btn-default" href="/defects/Edit/@Model.project/@item.defect_id">Edit details</a><a class="btn btn-default" href="/defects/Delete/@Model.project/@item.defect_id">Delete</a>
}
else
{
    <a class="btn btn-default" href="/defects/AssignOrUpdate/@Model.project?defect_id=@item.defect_id">Update status</a><a class="btn btn-default" href="/defects/History/@Model.project?defect_id=@item.defect_id">View history</a>
}
    </div></td><table-row-footer></table-row-footer>

                i++;
            }</table>@Html.Partial("basefooter")