@model WebApplication6.ViewModel<WebApplication6.DefectContainer> 
@Html.Partial("baseheader")
 <br>           
<h2>Assign or Update Issue </h2>
<br>

   
<form-self  index="false" multipartencoding="true" />
    <div class="form-horizontal">
<input type="hidden" name="defect_id" for="defect_id" value="@Model.entity.defect_id" />
        <input type="hidden" name="defect_type_id" for="defect_type_id" value="@Model.entity.defect_type_id" />
        <input type="hidden" name="module_id" for="module_id" value="@Model.entity.module_id" />
        <input type="hidden" name="phase_id" for="phase_id" value="@Model.entity.phase_id" />
        <input type="hidden" name="found_by" for="found_by" value="@Model.entity.found_by" />
        <div class="form-group">
            <label class="control-label col-md-2" for="name">name</label>
            <div class="col-md-10"><input class="form-control" id="name" name="name" readonly="readonly" style="background-color:#eee !important" maxlength="50" value="@Model.entity.name" /></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="description">description</label>
            <div class="col-md-10"><textarea class="form-control" id="description" name="description" readonly="readonly" rows="10" >@(System.Net.WebUtility.HtmlDecode(Model.entity.description))</textarea></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="assigned_to">assigned to</label>
            <div class="col-md-10"><select class="form-control" id="assigned_to" name="assigned_to"><dropdown-options for=@Model.dropdowns[0] value=@Model.entity.assigned_to></dropdown-options></select></div>
        </div>       
        <div class="form-group">
            <label class="control-label col-md-2" for="defect_status_id">defect status</label>
            <div class="col-md-10"><select class="form-control" id="defect_status_id" name="defect_status_id"><dropdown-options for=@Model.dropdowns[3] value=@Model.entity.defect_status_id></dropdown-options></select></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="closure_reason_id">closure reason</label>
            <div class="col-md-10"><select class="form-control" id="closure_reason_id" name="closure_reason_id"><dropdown-options for=@Model.dropdowns[4] value=@Model.entity.closure_reason_id></dropdown-options></select></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="status_comment">status comment</label>
            <div class="col-md-10"><textarea class="form-control" id="status_comment" name="status_comment" rows="6"></textarea></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="external_ref">external ref</label>
            <div class="col-md-10 form-inline"><input class="form-control" id="external_ref" name="external_ref" maxlength="255" value="@Model.entity.external_ref" /><a class="btn popovertext" href="#" data-html="true" data-content="(optional) ID for supplier's defect tracking system" rel="popover" data-placement="bottom" data-trigger="hover"><span style="color: black;" class="glyphicon glyphicon-question-sign"></span></a></div>
        </div> 
        <div class="form-group">
            <label class="control-label col-md-2" for="priority_id">priority</label>
            <div class="col-md-10"><select class="form-control" id="priority_id" name="priority_id"><dropdown-options for=@Model.dropdowns[1] value=@Model.entity.priority_id></dropdown-options></select></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="severity_id">severity</label>
            <div class="col-md-10 form-inline">
                <select class="form-control" id="severity_id" name="severity_id"><dropdown-options for=@Model.dropdowns[2] value=@Model.entity.severity_id></dropdown-options></select><a class="btn popovertext" href="#" data-html="true" data-content="
                                                                                                                                                                                          &lt;b&gt;Now&lt;/b&gt;: Needs to be fixed now e.g. a patch to the current release &lt;br/&gt;
                &lt;b&gt;Next&lt;/b&gt;: Needs to be fixed in the next release &lt;br/&gt;
                &lt;b&gt;Before&lt;/b&gt;: Needs to be fixed before go-live &lt;br/&gt;
                &lt;b&gt;After&lt;/b&gt;: Can be fixed after go-live
                " rel="popover" data-placement="bottom" data-trigger="hover"><span style="color: black;" class="glyphicon glyphicon-question-sign"></span></a>
            </div>
        </div>
        <multi-field mf=@Model.mf[0] rdonly2="true"></multi-field>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" name="Submit" onclick="var form = document.forms[0]; var error = ''; if (form['assigned_to'].value == -97) { error += 'Must assign a user<br>'; }; if (form['defect_status_id'].value == 4 && form['closure_reason_id'].value == 1) { error += 'A closed defect must have a closure reason<br>'; }; if (error == '') { document.forms[0].submit(); } else { document.getElementById('errorstring').innerHTML = error; };" class="btn btn-primary" />Save</button>
            </div>
        </div>  
        <div id="errorstring"></div>
        <h3>Other Details</h3>
        <br />
        <br />
        <div class="form-group">
            <label class="control-label col-md-2" for="status_comment">previous status</label>
            <div class="col-md-10"><textarea class="form-control" id="status_comment_static" name="status_comment_static" readonly="readonly" rows="6" />@(Model.entity.status_comment == "" || Model.entity.status_comment == null ? "" : ((Model.entity.last_modified_byNavigation?.name ?? "") + ": " + System.Net.WebUtility.HtmlDecode(Model.entity.status_comment)))</textarea></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="defect_type_id">type</label>
            <div class="col-md-10"><select class="form-control" id="defect_type_id" name="defect_type_id" disabled="disabled"><dropdown-options for=@Model.dropdowns[7] value=@Model.entity.defect_type_id></dropdown-options></select></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="phase_id">phase</label>
            <div class="col-md-10"><select class="form-control" id="phase_id" name="phase_id" disabled="disabled"><dropdown-options for=@Model.dropdowns[8] value=@Model.entity.phase_id></dropdown-options></select></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="tags">tags</label>
            <div class="col-md-10"><input class="form-control" id="tags" name="tags" readonly="readonly"  style="background-color:#eee !important" maxlength="255" value="@Model.entity.tags" /></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="module_id">functional area</label>
            <div class="col-md-10"><select class="form-control" id="module_id" name="module_id" disabled="disabled"><dropdown-options for=@Model.dropdowns[5] value=@Model.entity.module_id></dropdown-options></select></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="found_by">raised by</label>
            <div class="col-md-10"><select class="form-control" id="found_by" name="found_by" disabled="disabled"><dropdown-options for=@Model.dropdowns[6] value=@Model.entity.found_by></dropdown-options></select></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="found_date">date raised</label>
            <div class="col-md-10"><input type="date" class="form-control" id="found_date" readonly="readonly" name="found_date" style="background-color:#eee !important"  value="@Model.entity.found_date.ToString("yyyy-MM-dd")" /></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="found_date">date due</label>
            <div class="col-md-10"><input type="date" class="form-control" id="due_date" name="due_date" readonly="readonly"  style="background-color:#eee !important"  value="@(Model.entity.due_date?.ToString("yyyy-MM-dd"))" /></div>
        </div> 
    </div>
</form>
<br>
<div>
    <a class="btn btn-default" href="/defects/Index/@Model.project"> Back to Index</a><div class="divider"></div><a class="btn btn-default" href="/defects/History/@Model.project?defect_id=@Model.entity.defect_id">View History</a><div class="divider"></div>@if (@Model.entity.test_run_id != null)
    {<a class="btn btn-default" href="/testruns/Edit/@Model.project/@Model.entity.test_run_id">View Test Run</a><div class="divider"></div>}

 @Html.Partial("basefooter")