@model WebApplication6.IndexViewModel<WebApplication6.defect_history> 
@Html.Partial("baseheader")
 <br>           
<h2>Issue History</h2>
<br>


<page-number filters="Model.filters_generic"  history="true" modellist="Model.entities_generic"></page-number>
    <table class="table">
    <tr>
<th class=col-md-1>effective date</th>
<th class=col-md-1>updated by</th>
<th class=col-md-1>defect status</th>
<th class=col-md-1>assigned to</th>
<th class=col-md-1>priority</th>
<th class=col-md-1>severity</th>
<th class=col-md-5>status comment</th>
<th class=col-md-1></th></tr>
 @{int i = 0; }
            @foreach (var item in Model.entities)
            {
                <table-row for="@item" rownum="@i" test-cycle-id="@Model.test_cycle_id" columns="@Model.columns"></table-row><td><div class="btn-group-vertical"></div></td><table-row-footer></table-row-footer>

                i++;
            }</table> 
 @Html.Partial("basefooter")