@model WebApplication6.ViewModel<WebApplication6.defects> 
@Html.Partial("baseheader")
 <br>           
<h2>Create New Issue</h2>
<br>

   
<form-self  multipartencoding="true"  index="false" />
    <div class="form-horizontal">
        <input type="hidden" name="defect_id" for="defect_id" value="@Model.entity.defect_id" />
<input type="hidden" name="last_modified_by" for="last_modified_by" value="@Model.entity.last_modified_by" />
<input type="hidden" name="last_modified_date" for="last_modified_date" value="@Model.entity.last_modified_date" />
<input type="hidden" name="project_id" for="project_id" value="@Model.entity.project_id" />
<input type="hidden" name="test_run_id" for="test_run_id" value="@Model.entity.test_run_id" />
<div class="form-group">
            <label class="control-label col-md-2" for="name">name</label>
            <div class="col-md-10"><input class="form-control" id="name" name="name" maxlength="50" value="@Model.entity.name"  /></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="linked test run">linked test run</label>
            <div class="col-md-10"><p class="form-control-static">None</p></div>
            </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="defect_type_id">type</label>
            <div class="col-md-10"><select class="form-control" id="defect_type_id" name="defect_type_id"><dropdown-options for=@Model.dropdowns[4] value=1></dropdown-options></select></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="phase_id">phase</label>
            <div class="col-md-10"><select class="form-control" id="phase_id" name="phase_id"><dropdown-options for=@Model.dropdowns[5] value=@Model.entity.phase_id></dropdown-options></select></div>
        </div>
<div class="form-group">
            <label class="control-label col-md-2" for="description">description</label>
            <div class="col-md-10"><textarea class="form-control" id="description" name="description"  rows="6"  />@Model.entity.description</textarea></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="tags">tags</label>
            <div class="col-md-10"><input class="form-control" id="tags" name="tags" maxlength="255" value="@Model.entity.tags"  /></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="module_id">functional area</label>
            <div class="col-md-10"><select class="form-control"   id="module_id" name="module_id"><dropdown-options for=@Model.dropdowns[0] value=@Model.entity.module_id></dropdown-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="found_by">raised by</label>
            <div class="col-md-10"><select class="form-control"   id="found_by" name="found_by"><dropdown-options for=@Model.dropdowns[1] value=1></dropdown-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="assigned_to">assigned to</label>
            <div class="col-md-10"><select class="form-control" id="assigned_to" name="assigned_to"><dropdown-options for=@Model.dropdowns[6] value=null></dropdown-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="found_date">date raised</label>
            <div class="col-md-10"><input type="date" class="form-control" id="found_date" required="required" name="found_date" value="@Model.entity.found_date.ToString("yyyy-MM-dd")"/></div>
            </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="due_date">date due</label>
            <div class="col-md-10"><input type="date" class="form-control" id="due_date" name="due_date" value="@(Model.entity.due_date?.ToString("yyyy-MM-dd") ?? "None")" /></div>
        </div>
<div class="form-group">
            <label class="control-label col-md-2" for="external_ref">external ref</label>
            <div class="col-md-10 form-inline"><input class="form-control" id="external_ref" name="external_ref" maxlength="255" value="@Model.entity.external_ref"  /><a class="btn popovertext" href="#" data-html="true" data-content="(optional) ID for supplier's defect tracking system" rel="popover" data-placement="bottom" data-trigger="hover"><span style="color: black;" class="glyphicon glyphicon-question-sign"></span></a></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="priority_id">priority</label>
            <div class="col-md-10"><select class="form-control"   id="priority_id" name="priority_id"><dropdown-options for=@Model.dropdowns[2] value=3></dropdown-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="severity_id">severity</label>
            <div class="col-md-10 form-inline"><select class="form-control"   id="severity_id" name="severity_id"><dropdown-options for=@Model.dropdowns[3] value=5></dropdown-options></select><a class="btn popovertext" href="#" data-html="true" data-content="
&lt;b&gt;Now&lt;/b&gt;: Needs to be fixed now e.g. a patch to the current release &lt;br/&gt;
&lt;b&gt;Next&lt;/b&gt;: Needs to be fixed in the next release &#10; &lt;br/&gt;
&lt;b&gt;Before&lt;/b&gt;: Needs to be fixed before go-live &#10; &lt;br/&gt;
&lt;b&gt;After&lt;/b&gt;: Can be fixed after go-live 
" rel="popover" data-placement="bottom" data-trigger="hover"><span style="color: black;" class="glyphicon glyphicon-question-sign"></span></a></div>
            </div>
<multi-field mf=@Model.mf[0]></multi-field>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" name="Submit" onclick="var form = document.forms[0]; var error = ''; if (!isValidDate(form['due_date'].value) && form['due_date'].value != '') { error += 'Due date must be in the format yyyy-MM-dd or left blank<br>'; }; if (!isValidDate(form['found_date'].value)) { error += 'Raised date must be in format yyyy-MM-dd<br>'; }; if (form['name'].value.length < 5) { error += 'Name must be greater than 4 characters<br>'; }; if (form['found_by'].value == -97) { error += 'Must select raising user<br>'; }; if (error == '') { document.forms[0].submit(); } else { document.getElementById('errorstring').innerHTML = error; };" class="btn btn-primary" />Save</button>
            </div>
        </div>
        <div id="errorstring"></div>
    </div>
</form>
<br>
<div>
    <a class="btn btn-default" href="/defects/Index/@Model.project"> Back to Index</a><div class="divider"></div>
</div>


 @Html.Partial("basefooter")