@model WebApplication6.tables

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tables</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.source_interface_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.source_interface_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.table_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.table_name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index" asp-route-project="1" asp-route-id="@ViewData["system_id"]">Back to List</a>
        </div>
    </form>
</div>
