@model IEnumerable<WebApplication6.tables>

@{
    ViewData["Title"] = "Index";
}

<h2>Tables</h2>

<br />

    <form asp-action="Index">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control" name="name" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
                <input type="hidden" value="@ViewData["source_id"]" name="sourceid" />
            </div>
        </div>
    </form>

<br />

@if ((int)ViewData["source_id"] > 0)
{
    <p>
        <a asp-action="Create" asp-route-project="1" asp-route-id="@ViewData["source_id"]">Create New</a>
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.table_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.system.system_name)
        </th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.table_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.system.system_name)
        </td>
        <td>
            <a asp-action="Edit" asp-route-project="1" asp-route-id="@item.table_id">Edit</a> |
            <a asp-action="Delete" asp-route-project="1" asp-route-id="@item.table_id">Delete</a> |
            <a asp-controller="fields" asp-action="Index" asp-route-project="1" asp-route-id="@item.table_id">Fields</a>
        </td>
    </tr>
}
</table>
<br />
