@model IEnumerable<WebApplication6.entities>

@{
    ViewData["Title"] = "Index";
}

<h2>Entities</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.entity_name)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.entity_name)
        </td>
        <td>
            <a asp-action="Edit" asp-route-project="1" asp-route-id="@item.entity_id">Edit</a> |
            <a asp-action="Delete" asp-route-project="1" asp-route-id="@item.entity_id">Delete</a>
        </td>
    </tr>
}
</table>
