@model IEnumerable<WebApplication6.systems>

@{
    ViewData["Title"] = "Index";
}

<h2>Systems</h2>

<br />

<form asp-action="Index">
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-10">
                <input class="form-control" name="name" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<br />

<p>
    <a asp-action="Create" asp->Create New</a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.system_name)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.system_name)
        </td>
        <td>
            <a asp-action="Edit" asp-route-project="1" asp-route-id="@item.system_id">Edit</a> |
            <a asp-action="Delete" asp-route-project="1" asp-route-id="@item.system_id">Delete</a> |
            <a asp-controller="Tables" asp-action="Index" asp-route-project="1" asp-route-id="@item.system_id">Tables</a>
        </td>
    </tr>
}
</table>
