@model WebApplication6.ViewModel<WebApplication6.users> 
@Html.Partial("baseheader")
 <br>           
<h2>Create New User </h2>
<br>

   
<form-self  index="false" />
    <div class="form-horizontal">
        <input type="hidden" name="user_id" for="user_id" value="@Model.entity.user_id" />
<input type="hidden" name="last_modified_by" for="last_modified_by" value="@Model.entity.last_modified_by" />
<input type="hidden" name="last_modified_date" for="last_modified_date" value="@Model.entity.last_modified_date" />
<input type="hidden" name="is_administrator" for="is_administrator" value="@(Model.entity.is_administrator ? "True" : "False")" />
<div class="form-group">
            <label class="control-label col-md-2" for="name">name</label>
            <div class="col-md-10"><input class="form-control" id="name" name="name" maxlength="50" value="@Model.entity.name"  /></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="email">email</label>
            <div class="col-md-10"><input class="form-control" id="email" name="email" maxlength="255" value="@Model.entity.email"  /></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="ad_identifier">network name</label>
            <div class="col-md-10"><input class="form-control" id="ad_identifier" name="ad_identifier" maxlength="255" value="@Model.entity.ad_identifier"  /></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="default_project_id">default project</label>
            <div class="col-md-10"><select class="form-control"   id="default_project_id" name="default_project_id"><dropdown-options for=@Model.dropdowns[0] value=@Model.entity.default_project_id></dropdown-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="email_preference_id">email preference</label>
            <div class="col-md-10"><select class="form-control"   id="email_preference_id" name="email_preference_id"><dropdown-options for=@Model.dropdowns[1] value=@Model.entity.email_preference_id></dropdown-options></select></div>
            </div>
<multi-field mf=@Model.mf[0]></multi-field>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" name="Submit" onclick="var form = document.forms[0]; var error = ''; if(!(form['email'].value.endsWith('@@lincoln.ac.uk'))) {error += 'Must be a lincoln.ac.uk email address<br>';};if(form['name'].value.length < 5) {error += 'Name must be greater than 4 characters<br>';};if(!(form['ad_identifier'].value.startsWith('NETWORK\\'))) {error += 'Network name must begin with NETWORK\\ followed by the user\'s logon name<br>';}; if(error== '') {document.forms[0].submit();} else {document.getElementById('errorstring').innerHTML = error;};" class="btn btn-primary" />Save</button>
            </div>
        </div>
        <div id="errorstring"></div>
    </div>
</form>
<br>
<div>
    <a class="btn btn-default" href="/users/Index/@Model.project"> Back to Index</a><div class="divider"></div>
</div>


 @Html.Partial("basefooter")