@model WebApplication6.IndexViewModel<WebApplication6.users> 
@Html.Partial("baseheader")
 <br>           
<h2>Search Users</h2>
<br>


   <form-self  index="true" />    
    <div class="form-group">
            <label class="control-label col-md-2" for="name">name</label>
            <div class="col-md-10"><input class="form-control" id="name" name="name" maxlength="50" value="@ViewContext.HttpContext.Request.Query["name"].FirstOrDefault()"  /></div>
            </div>
    <searchdiv/></div>
    <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10 form-inline">
                <input type="submit" name="Search" value="Search" class="btn btn-primary" />
                
                <a class="btn btn-default" href="/users/Index/@Model.project/">Reset</a>
            </div>
    </div>
    </form>

<form class="form-horizontal">
<div class="form-group">
<div class="col-md-12  form-inline">
<div class="form-group">
<page-number filters="Model.filters_generic" modellist="Model.entities_generic"></page-number>
</div>
<div style="display: inline-block; width: 20px; height:auto;"></div>
<form class="form-group"><a class="btn btn-default" href="/users/Create/@Model.project/">Create New</a></form>
<div class="divider-s"></div>
<form class="form-group"></form>
<div class="divider-s"></div>

</div>
</div>
<form>
<table class="table">
<tr>
<th class=col-md-2>name</th>
<th class=col-md-2>email</th>
<th class=col-md-2>network name</th>
<th class=col-md-2>default project</th>
<th class=col-md-2></th></tr>
 @{int i = 0; }
            @foreach (var item in Model.entities)
            {
                <table-row for="@item" rownum="@i" test-cycle-id="@Model.test_cycle_id" columns="@Model.columns"></table-row><td><div class="btn-group-vertical"><a class="btn btn-default" href="/users/Edit/@Model.project/@item.user_id">Edit</a></div></td><table-row-footer></table-row-footer>

                i++;
            }</table>@Html.Partial("basefooter")