@model WebApplication6.ViewModel<WebApplication6.requirements> 
@Html.Partial("baseheader")
 <br>           
<h2>Archive Requirement </h2>
<br>

   
<form-self  index="false" />
    <div class="form-horizontal">
        <input type="hidden" name="requirement_id" for="requirement_id" value="@Model.entity.requirement_id" />
<input type="hidden" name="effective_date" for="effective_date" value="@Model.entity.effective_date" />
<input type="hidden" name="last_modified_by" for="last_modified_by" value="@Model.entity.last_modified_by" />
<input type="hidden" name="last_modified_date" for="last_modified_date" value="@Model.entity.last_modified_date" />
<input type="hidden" name="lineage_id" for="lineage_id" value="@Model.entity.lineage_id" />
<input type="hidden" name="project_id" for="project_id" value="@Model.entity.project_id" />
<input type="hidden" name="date_made_live" for="date_made_live" value="@Model.entity.date_made_live" />
<div class="form-group">
            <label class="control-label col-md-2" for="name">name</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.name</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="module_id">functional area</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.module?.name</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="description">description</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.description</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="draft_status_id">draft status</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.draft_status?.name</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="owner_id">owner</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.owner?.name ?? ""</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="cross_reference">SDD reference</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.cross_reference</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="accepted_will_not_be_met">accepted will not be met</label>
            <div class="col-md-10"><p class="form-control-static">@(Model.entity.accepted_will_not_be_met ? "True" : "False")</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="compulsory_yn">compulsory</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.compulsory_yn</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="tags">tags</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.tags</p></div>
            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" name="Submit" onclick="document.forms[0].submit()" class="btn btn-primary" />Archive</button>
            </div>
        </div>
        <div id="errorstring"></div>
    </div>
</form>
<br>
<div>
    <a class="btn btn-default" href="/requirements/Index/@Model.project"> Back to Index</a><div class="divider"></div><a class="btn btn-default" href="/tests/Index/@Model.project?requirement_id=@Model.entity.requirement_id">View Tests</a><div class="divider"></div><a class="btn btn-default" href="/tests/Create/@Model.project?requirement_id=@Model.entity.requirement_id">Add New Test</a><div class="divider"></div><a class="btn btn-default" href="/requirements/Edit/@Model.project/@Model.entity.requirement_id">Edit</a><div class="divider"></div>

 @Html.Partial("basefooter")