@model WebApplication6.ViewModel<WebApplication6.requirements> 
@Html.Partial("baseheader")
 <br>           
<h2>Edit Requirement </h2>
<br>

   
<form-self  index="false" />
    <div class="form-horizontal">
        <input type="hidden" name="requirement_id" for="requirement_id" value="@Model.entity.requirement_id" />
<input type="hidden" name="effective_date" for="effective_date" value="@Model.entity.effective_date" />
<input type="hidden" name="last_modified_by" for="last_modified_by" value="@Model.entity.last_modified_by" />
<input type="hidden" name="last_modified_date" for="last_modified_date" value="@Model.entity.last_modified_date" />
<input type="hidden" name="lineage_id" for="lineage_id" value="@Model.entity.lineage_id" />
<input type="hidden" name="project_id" for="project_id" value="@Model.entity.project_id" />
<input type="hidden" name="date_made_live" for="date_made_live" value="@Model.entity.date_made_live" />
<div class="form-group">
            <label class="control-label col-md-2" for="name">name</label>
            <div class="col-md-10"><input class="form-control" id="name" name="name" maxlength="50" value="@HtmlEncoderService.Decode(Model.entity.name)"  /></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="module_id">functional area</label>
            <div class="col-md-10"><select class="form-control"   id="module_id" name="module_id"><dropdown-options for=@Model.dropdowns[0] value=@Model.entity.module_id></dropdown-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="description">description</label>
            <div class="col-md-10"><textarea class="form-control" id="description" name="description"  rows="6"  />@(System.Net.WebUtility.HtmlDecode(@Model.entity.description))</textarea></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="draft_status_id">draft status</label>
            <div class="col-md-10 form-inline"><select class="form-control"   id="draft_status_id" name="draft_status_id"><dropdown-options for=@Model.dropdowns[1] value=@Model.entity.draft_status_id></dropdown-options></select><a class="btn popovertext" href="#" data-html="true" data-content="
&lt;b&gt;Draft&lt;/b&gt;: The requirement is still being designed. Does not count for reporting purposes. &lt;br/&gt;
&lt;b&gt;Live&lt;/b&gt;: The requirement is current &lt;br/&gt;
&lt;b&gt;Archived&lt;/b&gt;: The requirement is no longer in use.
" rel="popover" data-placement="bottom" data-trigger="hover"><span style="color: black;" class="glyphicon glyphicon-question-sign"></span></a></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="owner_id">owner</label>
            <div class="col-md-10"><select class="form-control"   id="owner_id" name="owner_id"><dropdown-options for=@Model.dropdowns[2] value=@Model.entity.owner_id></dropdown-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="cross_reference">SDD reference</label>
            <div class="col-md-10 form-inline"><input class="form-control" id="cross_reference" name="cross_reference" maxlength="255" value="@HtmlEncoderService.Decode(Model.entity.cross_reference)"  /><a class="btn popovertext" href="#" data-html="true" data-content="(optional) Solution Design Document reference" rel="popover" data-placement="bottom" data-trigger="hover"><span style="color: black;" class="glyphicon glyphicon-question-sign"></span></a></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="accepted_will_not_be_met">accepted will not be met</label>
            <div class="col-md-10"><div class="checkbox"><div class="divider"></div><div class="divider"></div><div class="divider"></div><input type="checkbox" id="accepted_will_not_be_met" name="accepted_will_not_be_met"  value="true" @(Model.entity.accepted_will_not_be_met ? "checked" : "") /><input type="hidden" name="accepted_will_not_be_met" value="false"></div></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="compulsory_yn">compulsory</label>
            <div class="col-md-10"><div class="checkbox"><div class="divider"></div><div class="divider"></div><div class="divider"></div><input type="checkbox" id="compulsory_yn" name="compulsory_yn"  value="true" @(Model.entity.compulsory_yn ? "checked" : "")/><input type="hidden" name="compulsory_yn" value="false"></div></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="tags">tags</label>
            <div class="col-md-10 form-inline"><input class="form-control" id="tags" name="tags" maxlength="255" value="@HtmlEncoderService.Decode(Model.entity.tags)"  /><a class="btn popovertext" href="#" data-html="true" data-content="(optional) Keywords used for searching and filtering by" rel="popover" data-placement="bottom" data-trigger="hover"><span style="color: black;" class="glyphicon glyphicon-question-sign"></span></a></div>
            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" name="Submit" onclick="var form = document.forms[0]; var error = ''; if(form['name'].value.length < 5) {error += 'Name must be greater than 4 characters<br>';}; if(error== '') {document.forms[0].submit();} else {document.getElementById('errorstring').innerHTML = error;};" class="btn btn-primary" />Save</button>
            </div>
        </div>
        <div id="errorstring"></div>
    </div>
</form>
<br>
<div>
    <a class="btn btn-default" href="/requirements/Index/@Model.project"> Back to Index</a><div class="divider"></div><a class="btn btn-default" href="/tests/Index/@Model.project?requirement_id=@Model.entity.requirement_id">View Tests</a><div class="divider"></div><a class="btn btn-default" href="/tests/Create/@Model.project?requirement_id=@Model.entity.requirement_id">Add New Test</a><div class="divider"></div><a class="btn btn-default" href="/requirements/Archive/@Model.project/@Model.entity.requirement_id">Archive</a><div class="divider"></div>

 @Html.Partial("basefooter")