@model WebApplication6.IndexViewModel<WebApplication6.requirements> 
@Html.Partial("baseheader")
 <br>           
<h2>Search Requirements</h2>
<br>


   <form-self  index="true" />  
    <div class="form-group">
            <label class="control-label col-md-2" for="name">name</label>
            <div class="col-md-10"><input class="form-control" id="name" name="name" maxlength="50" value="@ViewContext.HttpContext.Request.Query["name"].FirstOrDefault()"  /></div>
            </div>
    <searchdiv/><div class="form-group">
            <label class="control-label col-md-2" for="module_id">functional area</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="module_id" name="module_id"><filter-options for="@Model.filters[0]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="owner_id">owner</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="owner_id" name="owner_id"><filter-options for="@Model.filters[1]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="draft_status_id">draft status</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="draft_status_id" name="draft_status_id"><filter-options for="@Model.filters[2]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="derived_requirement_state">status</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="derived_requirement_state" name="derived_requirement_state"><filter-options for="@Model.filters[3]"></filter-options></select></div>
            </div></div>
    <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10 form-inline">
                <input type="submit" name="Search" value="Search" class="btn btn-primary" />
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#search">Show/Hide Filters</button>
                <a class="btn btn-default" href="/requirements/Index/@Model.project/">Reset</a>
            </div>
    </div>
    </form>

<form class="form-horizontal">
<div class="form-group">
<div class="col-md-12  form-inline">
<div class="form-group">
<page-number filters="Model.filters_generic" modellist="Model.entities_generic"></page-number>
</div>
<div style="display: inline-block; width: 20px; height:auto;"></div>
<form class="form-group"><a class="btn btn-default" href="/requirements/Create/@Model.project/">Create New</a></form>
<div class="divider-s"></div>
<form class="form-group"><input type="submit" name="button_name" value="Generate Report" class="btn btn-default" /></form>
<div class="divider-s"></div>
<form class="form-group" action="/requirements/UploadBulkImport/@Model.project" method="get">
<input type="submit" value="Bulk Import" class="btn btn-default" />
</form>
</div>
</div>
<form>
<table class="table">
<tr>
<th class=col-md-2>name</th>
<th class=col-md-2>state</th>
<th class=col-md-2>module</th>
<th class=col-md-1>draft status</th>
<th class=col-md-2>compulsory</th>
<th class=col-md-3>owner</th>
<th class=col-md-2></th></tr>
 @{int i = 0; }
            @foreach (var item in Model.entities)
            {
                <table-row for="@item" rownum="@i" test-cycle-id="@Model.test_cycle_id" columns="@Model.columns"></table-row><td><div class="btn-group-vertical">
    @if (Model.role.IsManager())
    {
        <a class="btn btn-default" href="/tests/Index/@Model.project?requirement_id=@item.requirement_id">View Tests</a><a class="btn btn-default" href="/tests/Create/@Model.project?requirement_id=@item.requirement_id">Add New Test</a><a class="btn btn-default" href="/requirements/Edit/@Model.project/@item.requirement_id">Edit</a><a class="btn btn-default" href="/requirements/Archive/@Model.project/@item.requirement_id">Archive</a>

    }
    else
    {
        <a class="btn btn-default" href="/tests/Index/@Model.project?requirement_id=@item.requirement_id">View Tests</a>

    }
</div></td><table-row-footer></table-row-footer>

                i++;
            }</table>@Html.Partial("basefooter")