@model WebApplication6.ViewModel<WebApplication6.tests> 
@Html.Partial("baseheader")
 <br>           
<h2>Edit Test </h2>
<br>

   
<form-self  multipartencoding="true"  index="false" />
    <div class="form-horizontal">
        <input type="hidden" name="test_id" for="test_id" value="@Model.entity.test_id" />
<input type="hidden" name="project_id" for="project_id" value="@Model.entity.project_id" />
<input type="hidden" name="effective_date" for="effective_date" value="@Model.entity.effective_date" />
<input type="hidden" name="last_modified_by" for="last_modified_by" value="@Model.entity.last_modified_by" />
<input type="hidden" name="last_modified_date" for="last_modified_date" value="@Model.entity.last_modified_date" />
<input type="hidden" name="lineage_id" for="lineage_id" value="@Model.entity.lineage_id" />
<input type="hidden" name="test_item" for="test_item" value="@Model.entity.test_item" />
<input type="hidden" name="date_made_live" for="date_made_live" value="@Model.entity.date_made_live" />
<div class="form-group">
            <label class="control-label col-md-2" for="name">name</label>
            <div class="col-md-10"><input class="form-control" id="name" name="name" maxlength="50" value="@HtmlEncoderService.Decode(Model.entity.name)"  /></div>
            </div>
<multi-field mf=@Model.mf[0]></multi-field>
<div class="form-group">
            <label class="control-label col-md-2" for="description">summary/preconditions</label>
            <div class="col-md-10"><textarea class="form-control" id="description" name="description"  rows="6"  />@HtmlEncoderService.Decode(Model.entity.description)</textarea></div>
            </div>
<multi-field mf=@Model.mf[1]></multi-field>
<div class="form-group">
            <label class="control-label col-md-2" for="module_id">functional area</label>
            <div class="col-md-10"><select class="form-control"   id="module_id" name="module_id"><dropdown-options for=@Model.dropdowns[0] value=@Model.entity.module_id></dropdown-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="draft_status_id">draft status</label>
            <div class="col-md-10 form-inline"><select class="form-control"   id="draft_status_id" name="draft_status_id"><dropdown-options for=@Model.dropdowns[1] value=@Model.entity.draft_status_id></dropdown-options></select><a class="btn popovertext" href="#" data-html="true" data-content="
&lt;b&gt;Draft&lt;/b&gt;: The requirement is still being designed. Does not count for reporting purposes. &lt;br/&gt;
&lt;b&gt;Live&lt;/b&gt;: The requirement is current &lt;br/&gt;
&lt;b&gt;Archived&lt;/b&gt;: The requirement is no longer in use.
" rel="popover" data-placement="bottom" data-trigger="hover"><span style="color: black;" class="glyphicon glyphicon-question-sign"></span></a></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="priority_id">priority</label>
            <div class="col-md-10"><select class="form-control"   id="priority_id" name="priority_id"><dropdown-options for=@Model.dropdowns[2] value=@Model.entity.priority_id></dropdown-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="owner_id">owner</label>
            <div class="col-md-10"><select class="form-control"   id="owner_id" name="owner_id"><dropdown-options for=@Model.dropdowns[3] value=@Model.entity.owner_id></dropdown-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="tags">tags</label>
            <div class="col-md-10 form-inline"><input class="form-control" id="tags" name="tags" maxlength="255" value="@HtmlEncoderService.Decode(Model.entity.tags)"  /><a class="btn popovertext" href="#" data-html="true" data-content="(optional) Keywords used for searching and filtering by" rel="popover" data-placement="bottom" data-trigger="hover"><span style="color: black;" class="glyphicon glyphicon-question-sign"></span></a></div>
            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" name="Submit" onclick="var form = document.forms[0]; var error = ''; if(form['name'].value.length < 5) {error += 'Name must be greater than 4 characters<br>';}; if(error== '') {document.forms[0].submit();} else {document.getElementById('errorstring').innerHTML = error;};" class="btn btn-primary" />Save</button>
            </div>
        </div>
        <div id="errorstring"></div>
    </div>
</form>
<br>
<div>
    <a class="btn btn-default" href="/tests/Index/@Model.project"> Back to Index</a><div class="divider"></div><a class="btn btn-default" href="/testruns/Index/@Model.project?test_id=@Model.entity.test_id">View Test Runs</a><div class="divider"></div><a class="btn btn-default" href="/testruns/Create/@Model.project?test_id=@Model.entity.test_id">Execute New Test Run</a><div class="divider"></div><a class="btn btn-default" href="/scheduletestruns/Create/@Model.project?test_id=@Model.entity.test_id">Schedule A Test Run</a><div class="divider"></div><a class="btn btn-default" href="/tests/Archive/@Model.project/@Model.entity.test_id">Archive</a><div class="divider"></div>
</div>


 @Html.Partial("basefooter")