@model WebApplication6.ViewModel<WebApplication6.tests> 
@Html.Partial("baseheader")
 <br>           
<h2>Archive Test </h2>
<br>

   
<form-self  multipartencoding="true"  index="false" />
    <div class="form-horizontal">
        <input type="hidden" name="test_id" for="test_id" value="@Model.entity.test_id" />
<input type="hidden" name="project_id" for="project_id" value="@Model.entity.project_id" />
<input type="hidden" name="effective_date" for="effective_date" value="@Model.entity.effective_date" />
<input type="hidden" name="last_modified_by" for="last_modified_by" value="@Model.entity.last_modified_by" />
<input type="hidden" name="last_modified_date" for="last_modified_date" value="@Model.entity.last_modified_date" />
<input type="hidden" name="lineage_id" for="lineage_id" value="@Model.entity.lineage_id" />
<input type="hidden" name="test_item" for="test_item" value="@Model.entity.test_item" />
<input type="hidden" name="date_made_live" for="date_made_live" value="@Model.entity.date_made_live" />
<div class="form-group">
            <label class="control-label col-md-2" for="name">name</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.name</p></div>
            </div>
<multi-field mf=@Model.mf[0] rdonly="true"></multi-field>
<div class="form-group">
            <label class="control-label col-md-2" for="description">summary/preconditions</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.description</p></div>
            </div>
<multi-field mf=@Model.mf[1] rdonly="true"></multi-field>
<div class="form-group">
            <label class="control-label col-md-2" for="module_id">functional area</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.module?.name</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="draft_status_id">draft status</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.draft_status?.name</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="priority_id">priority</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.priority?.name</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="owner_id">owner</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.owner?.name</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="tags">tags</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.tags</p></div>
            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" name="Submit" onclick="document.forms[0].submit()" class="btn btn-primary" />Archive</button>
            </div>
        </div>
        <div id="errorstring"></div>
    </div>
</form>
<br>
<div>
    <a class="btn btn-default" href="/tests/Index/@Model.project"> Back to Index</a><div class="divider"></div><a class="btn btn-default" href="/testruns/Index/@Model.project?test_id=@Model.entity.test_id">View Test Runs</a><div class="divider"></div><a class="btn btn-default" href="/testruns/Create/@Model.project?test_id=@Model.entity.test_id">Execute New Test Run</a><div class="divider"></div><a class="btn btn-default" href="/scheduletestruns/Create/@Model.project?test_id=@Model.entity.test_id">Schedule A Test Run</a><div class="divider"></div><a class="btn btn-default" href="/tests/Edit/@Model.project/@Model.entity.test_id">Edit</a><div class="divider"></div>
</div>


 @Html.Partial("basefooter")