@model WebApplication6.IndexViewModel<WebApplication6.tests> 
@Html.Partial("baseheader")
 <br>           
<h2>Search Tests</h2>
<br>


   <form-self  index="true" />    
    <div class="form-group">
            <label class="control-label col-md-2" for="name">name</label>
            <div class="col-md-10"><input class="form-control" id="name" name="name" maxlength="50" value="@ViewContext.HttpContext.Request.Query["name"].FirstOrDefault()"  /></div>
            </div>
    <searchdiv/><div class="form-group">
            <label class="control-label col-md-2" for="requirement_id">requirement</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="requirement_id" name="requirement_id"><filter-options for="@Model.filters[0]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="module_id">functional area</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="module_id" name="module_id"><filter-options for="@Model.filters[1]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="owner_id">owner</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="owner_id" name="owner_id"><filter-options for="@Model.filters[2]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="draft_status_id">draft status</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="draft_status_id" name="draft_status_id"><filter-options for="@Model.filters[3]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="priority_id">priority</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="priority_id" name="priority_id"><filter-options for="@Model.filters[4]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="derived_test_state">status</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="derived_test_state" name="derived_test_state"><filter-options for="@Model.filters[5]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="scheduled">scheduled</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="scheduled" name="scheduled"><filter-options for="@Model.filters[6]"></filter-options></select></div>
            </div></div>
    <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10 form-inline">
                <input type="submit" name="Search" value="Search" class="btn btn-primary" />
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#search">Show/Hide Filters</button>
                <a class="btn btn-default" href="/tests/Index/@Model.project/">Reset</a>
            </div>
    </div>
    </form>

<form class="form-horizontal">
<div class="form-group">
<div class="col-md-12  form-inline">
<div class="form-group">
<page-number filters="Model.filters_generic" modellist="Model.entities_generic"></page-number>
</div>
<div style="display: inline-block; width: 20px; height:auto;"></div>
<form class="form-group"><a class="btn btn-default" href="/tests/Create/@Model.project/">Create New</a></form>
<div class="divider-s"></div>
<form class="form-group"><input type="submit" name="button_name" value="Generate Report" class="btn btn-default" /></form>
<div class="divider-s"></div>
<form class="form-group" action="/tests/UploadBulkImport/@Model.project" method="get">
<input type="submit" value="Bulk Import" class="btn btn-default" />
</form>
</div>
</div>
<form>
<table class="table">
<tr>
<th class=col-md-2>name</th>
<th class=col-md-2>state</th>
<th class=col-md-1>sched.</th>
<th class=col-md-2>requirements</th>
<th class=col-md-2>module</th>
<th class=col-md-2>owner</th>
<th class=col-md-2></th></tr>
 @{int i = 0; }
            @foreach (var item in Model.entities)
            {
                <table-row for="@item" rownum="@i" test-cycle-id="@Model.test_cycle_id" columns="@Model.columns"></table-row><td><div class="btn-group-vertical">
@if (Model.role.IsManager())
{
    <a class="btn btn-primary" href="/testruns/Create/@Model.project?test_id=@item.test_id">Execute New Test Run</a><a class="btn btn-default" href="/testruns/Index/@Model.project?test_id=@item.test_id">View Test Runs</a><a class="btn btn-default" href="/scheduletestruns/Create/@Model.project?test_id=@item.test_id">Schedule A Test Run</a><a class="btn btn-default" href="/tests/Edit/@Model.project/@item.test_id">Edit</a><a class="btn btn-default" href="/tests/Archive/@Model.project/@item.test_id">Archive</a>
}
else
{
    <a class="btn btn-primary" href="/testruns/Create/@Model.project?test_id=@item.test_id">Execute New Test Run</a><a class="btn btn-default" href="/tests/View/@Model.project/@item.test_id">View Test</a><a class="btn btn-default" href="/testruns/Index/@Model.project?test_id=@item.test_id">View Test Runs</a>
}
    </div></td><table-row-footer></table-row-footer>

                i++;
            }</table>@Html.Partial("basefooter")