@model WebApplication6.DashboardViewModel
@Html.Partial("baseheader")
<br>
<h2>Dashboard</h2>
<br>


<form class="form-horizontal" action="/dashboard/Index/1" method="get">
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#search">Show/Hide Filters</button>
    <div id="search" class="collapse">
        <div class="form-group">
            <label class="control-label col-md-2" for="draft_status_id">draft status</label>
            <div class="col-md-10"><select class="form-control" onchange="this.form.submit()" id="draft_status_id" name="draft_status_id"><filter-options for="@Model.filters[0]"></filter-options></select></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="priority_id">priority</label>
            <div class="col-md-10"><select class="form-control" onchange="this.form.submit()" id="priority_id" name="priority_id"><filter-options for="@Model.filters[1]"></filter-options></select></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="test_cycle_id">test cycle</label>
            <div class="col-md-10"><select class="form-control" onchange="this.form.submit()" id="test_cycle_id" name="test_cycle_id"><filter-options for="@Model.filters[2]"></filter-options></select></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="module_id">functional area</label>
            <div class="col-md-10"><select class="form-control" onchange="this.form.submit()" id="module_id" name="module_id"><filter-options for="@Model.filters[3]"></filter-options></select></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="owner_id">owner</label>
            <div class="col-md-10"><select class="form-control" onchange="this.form.submit()" id="owner_id" name="owner_id"><filter-options for="@Model.filters[4]"></filter-options></select></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="as_of_date_n">as of date</label>
            <div class="col-md-10"><input type="date" class="form-control" id="as_of_date_n" name="as_of_date_n" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" /></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="defect_status_id">defect status</label>
            <div class="col-md-10"><select class="form-control" onchange="this.form.submit()" id="defect_status_id" name="defect_status_id"><filter-options for="@Model.filters[5]"></filter-options></select></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="severity_id">severity</label>
            <div class="col-md-10"><select class="form-control" onchange="this.form.submit()" id="severity_id" name="severity_id"><filter-options for="@Model.filters[6]"></filter-options></select></div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10 form-inline">
                <input type="submit" name="Search" value="Search" class="btn btn-primary" />
                <a class="btn btn-default" href="/dashboard/Index/@Model.project/">Reset</a>
            </div>
        </div>
    </div>
</form>
<br>
<div>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#search1">Show/Hide Requirement Metrics</button>
    <div id="search1" class="collapse"><table class="table"><th class="col-md-8">metric</th><th class="col-md-2">number</th><th class="col-md-2">percentage</th>
        <metric type="@Model.req_metrics"></metric>
     </table></div>
</div><br><div>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#search2">Show/Hide Test Metrics</button>
    <div id="search2" class="collapse"><table class="table"><th class="col-md-8">metric</th><th class="col-md-2">number</th><th class="col-md-2">percentage</th>
        <metric type="@Model.test_metrics"></metric>
        </table></div> 
</div><br><div>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#search3">Show/Hide Defect Metrics</button>
    <div id="search3" class="collapse"><table class="table"><th class="col-md-8">metric</th><th class="col-md-2">number</th><th class="col-md-2">percentage</th>
        <metric type="@Model.defect_metrics"></metric>
        </table></div>
</div><br>

@foreach(var chart in Model.charts)
{
    <chart type="chart" content="true"></chart>
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>

@foreach (var chart in Model.charts)
{
    <chart type="chart" content="false"></chart>
}

    <!-- Load c3.css -->
<link href="/css/c3.css" rel="stylesheet" type="text/css">

<!-- Load d3.js and c3.js -->
<script src="/css/d3.v3.min.js" charset="utf-8"></script>
<script src="/css/c3.min.js"></script>

<br/>
<div><h2 class="text-center" id="Open defects by assigned user and status">Open defects by assigned user and status</h2></div>
<br />

<div id="chart"></div>

<script>
    var chart = c3.generate({
        padding: {
            bottom: 20
        },
        data: @(Json.Serialize(Model.barchartdata)),
        grid: {
            y: {
                lines: [{ value: 0 }]
            }
        },
        axis: {
        x: {
        type: 'category',
    },
    }
    });
</script>


 @Html.Partial("basefooter");