@model WebApplication6.HomepageViewModel
@Html.Partial("baseheader")
<br>
<h2>Test Management Tool</h2>
<br>

<div style="width:675px; height:250px; display:inline-block;"><p style="font-size:16px; display:inline-block;">
    <br>Welcome to the University of Lincoln Test Management Tool. <br><br>  This records requirements, tests, and test run information for IT projects. It also provides reporting and management information for testing activities. Testers can use this to record the results of tests for their project. 
    <ul style="font-size:16px;"><!--<li style="margin:7px;">To report an issue, use the buttons below.</li>-->
    <li style="margin:7px;">To change the project you are logged into, use the dropdown in the top right.</li>
    <li style="margin:7px;">To view current issues, use the button on the bar above.</li>
    <li style="margin:7px;">To view the help and user guide for this application, click on View Help below.</li>
    </ul></p></div>
<div style="width:440px; height:330px; float:right; display:inline-block;"><img style="width:100%; height:100%;" src="/lincoln.jpg"></div><br><br>
<br>
<a class="btn btn-default" href="/testruns/CreateSelect/@Model.project/">Execute New Test Run</a>
<div class="divider-s"></div>
<a class="btn btn-default" href="/defects/Create/@Model.project/">Create Issue</a>
<div class="divider-s"></div>
<a class="btn btn-default" href="/dashboard/Help/@Model.project/">View Help</a>
@if (Model.user_id == 14 || Model.user_id == 1)
{
    <div class="divider-s"></div>
    <a class="btn btn-default" href="/defects/T1Report/">View T1 Report</a>
}

<br>
<br>
<br>
<br>

@{int i = 1; }
@foreach(var notification in @Model.notifications)
{
    <notification type="notification" test-cycle-id="@Model.test_cycle_id" num="i"></notification>
    i++;
}

<br>
<br>
<br>
<br>
<br>
<br>
<br>

 @Html.Partial("basefooter");