@model WebApplication6.ViewModel<WebApplication6.test_cycles_tests> 
@Html.Partial("baseheader")
 <br>           
<h2>Create New Scheduled Test Run </h2>
<br>

   
<form-self  index="false" />
    <div class="form-horizontal">
        <input type="hidden" name="test_cycle_test_id" for="test_cycle_test_id" value="@Model.entity.test_cycle_test_id" />
<input type="hidden" name="last_modified_by" for="last_modified_by" value="@Model.entity.last_modified_by" />
<input type="hidden" name="last_modified_date" for="last_modified_date" value="@Model.entity.last_modified_date" />
<input type="hidden" name="scheduled_status_id" for="scheduled_status_id" value="@Model.entity.scheduled_status_id" />
<div class="form-group">
            <label class="control-label col-md-2" for="test_id">test</label>
            <div class="col-md-10"><select class="form-control"   id="test_id" name="test_id"><dropdown-options for=@Model.dropdowns[0] value=@Model.entity.test_id></dropdown-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="test_cycle_id">test cycle</label>
            <div class="col-md-10"><select class="form-control"   id="test_cycle_id" name="test_cycle_id"><dropdown-options for=@Model.dropdowns[1] value=@Model.entity.test_cycle_id></dropdown-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="scheduled_user">scheduled user</label>
            <div class="col-md-10"><select class="form-control"   id="scheduled_user" name="scheduled_user"><dropdown-options for=@Model.dropdowns[2] value=@Model.entity.scheduled_user></dropdown-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="scheduled_start_date">scheduled start date</label>
            <div class="col-md-10"><input type="date" class="form-control" id="scheduled_start_date" name="scheduled_start_date" value="@((Model.entity.scheduled_start_date ?? DateTime.Now).ToString("yyyy-MM-dd"))"/></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="scheduled_end_date">scheduled end date</label>
            <div class="col-md-10"><input type="date" class="form-control" id="scheduled_end_date" name="scheduled_end_date" value="@((Model.entity.scheduled_end_date ?? DateTime.Now).ToString("yyyy-MM-dd"))"/></div>
            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" name="Submit" onclick="var form = document.forms[0]; var error = ''; if (!isValidDate(form['scheduled_start_date'].value)) { error += 'Scheduled start date must be in the format yyyy-MM-dd'; }; if (!isValidDate(form['scheduled_end_date'].value)) { error += 'Scheduled end date must be in format yyyy-MM-dd<br>'; }; if (form['scheduled_user'].value == -97) { error += 'Must select a user<br>'; }; if (error == '') { document.forms[0].submit(); } else { document.getElementById('errorstring').innerHTML = error; };" class="btn btn-primary" />Save</button>
            </div>
        </div>
        <div id="errorstring"></div>
    </div>
</form>
<br>
<div>
    <a class="btn btn-default" href="/scheduletestruns/Index/@Model.project"> Back to Index</a><div class="divider"></div>

 @Html.Partial("basefooter")