@model WebApplication6.ViewModel<WebApplication6.test_cycles_tests> 
@Html.Partial("baseheader")
 <br>           
<h2>Delete Scheduled Test Run </h2>
<br>

   
<form-self  index="false" />
    <div class="form-horizontal">
        <input type="hidden" name="test_cycle_test_id" for="test_cycle_test_id" value="@Model.entity.test_cycle_test_id" />
<input type="hidden" name="last_modified_by" for="last_modified_by" value="@Model.entity.last_modified_by" />
<input type="hidden" name="last_modified_date" for="last_modified_date" value="@Model.entity.last_modified_date" />
<input type="hidden" name="scheduled_status_id" for="scheduled_status_id" value="@Model.entity.scheduled_status_id" />
<input type="hidden" name="test_id" for="test_id" value="@Model.entity.test_id" />
<div class="form-group">
            <label class="control-label col-md-2" for="test_id">test_id</label>
            <div class="col-md-10"><p class="form-control-static">3</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="test_cycle_id">test cycle</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.test_cycle?.name</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="scheduled_user">scheduled user</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.scheduled_userNavigation?.name</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="scheduled_start_date">scheduled start date</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.scheduled_start_date</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="scheduled_end_date">scheduled end date</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.scheduled_end_date</p></div>
            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" name="Submit" onclick="document.forms[0].submit()" class="btn btn-primary" />Delete</button>
            </div>
        </div>
        <div id="errorstring"></div>
    </div>
</form>
<br>
<div>
    <a class="btn btn-default" href="/scheduletestruns/Index/@Model.project"> Back to Index</a><div class="divider"></div><a class="btn btn-default" href="/testruns/Create/@Model.project?test_cycle_test_id=@Model.entity.test_cycle_test_id">Run this test</a><div class="divider"></div><a class="btn btn-default" href="/scheduletestruns/Edit/@Model.project/@Model.entity.test_cycle_test_id">Edit</a><div class="divider"></div>

 @Html.Partial("basefooter")