@model int
@Html.Partial("baseheader")
<br>
<h2>Upload Scheduled Test Run Import Template</h2>
<br>

To import in bulk, click Download Import Template to save the template, enter the information starting on row 5 of the saved Excel file, and then reupload that file below.<br><br>
<form class="form-group" action="/scheduletestruns/GenerateBulkImport/@Model" method="get">
    <input type="submit" value="Download Import Template" class="btn btn-default" />
</form>
<form class="form-group" action="/scheduletestruns/UploadBulkImport/@Model" method="post" enctype="multipart/form-data">
    <label><input style="width: 200px;" name="fileuploaded" type="file" /></label>
    <input type="submit" value="Upload Completed Import Template" class="btn btn-default" />
</form>

 @Html.Partial("basefooter");