@model WebApplication6.IndexViewModel<WebApplication6.test_cycles_tests> 
@Html.Partial("baseheader")
 <br>           
<h2>Search Scheduled Test Runs</h2>
<br>


  <form-self  index="true" />    
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#search">Show/Hide Filters</button>
    <searchdiv/><div class="form-group">
            <label class="control-label col-md-2" for="test_id">test</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="test_id" name="test_id"><filter-options for="@Model.filters[0]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="test_cycle_id">test cycle</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="test_cycle_id" name="test_cycle_id"><filter-options for="@Model.filters[1]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="scheduled_user_id">scheduled user</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="scheduled_user_id" name="scheduled_user_id"><filter-options for="@Model.filters[2]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="scheduled_status_id">scheduled status</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="scheduled_status_id" name="scheduled_status_id"><filter-options for="@Model.filters[3]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="scheduled ending on or after">scheduled ending on or after</label>
            <div class="col-md-10"><input type="date" class="form-control" id="start_date" name="start_date" value="@(ViewContext.HttpContext.Request.Query["start_date"].FirstOrDefault() ?? "2010-01-01")"/></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="scheduled starting on or before">scheduled starting on or before</label>
            <div class="col-md-10"><input type="date" class="form-control" id="end_date" name="end_date" value="@(ViewContext.HttpContext.Request.Query["end_date"].FirstOrDefault() ?? DateTime.Now.ToString("yyyy-MM-dd"))"/></div>
            </div>
    <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10 form-inline">
                <input type="submit" name="Search" value="Search" class="btn btn-primary" />
                <a class="btn btn-default" href="/scheduletestruns/Index/@Model.project/">Reset</a>
            </div>
    </div></div>
    </form>

<form class="form-horizontal">
<div class="form-group">
<div class="col-md-12  form-inline">
<div class="form-group">
<page-number filters="Model.filters_generic" modellist="Model.entities_generic"></page-number>
</div>
<div style="display: inline-block; width: 20px; height:auto;"></div>
<form class="form-group"><a class="btn btn-default" href="/scheduletestruns/Create/@Model.project/">Create New</a></form>
<div class="divider-s"></div>
<form class="form-group"><input type="submit" name="button_name" value="Generate Report" class="btn btn-default" /></form>
    <div class="divider-s"></div>
    <form class="form-group" action="/scheduletestruns/UploadBulkImport/@Model.project" method="get">
        <input type="submit" value="Bulk Import" class="btn btn-default" />
    </form>

</div>
</div>
<form>
<table class="table">
<tr>
<th class=col-md-1>test cycle</th>
<th class=col-md-1>test</th>
<th class=col-md-2>scheduled by</th>
<th class=col-md-1>to be run by</th>
<th class=col-md-1>scheduled start date</th>
<th class=col-md-1>scheduled end date</th>
<th class=col-md-1>scheduled status</th>
<th class=col-md-2></th></tr>
 @{int i = 0; }
            @foreach (var item in Model.entities)
            {
                <table-row for="@item" rownum="@i" test-cycle-id="@Model.test_cycle_id" columns="@Model.columns"></table-row><td><div class="btn-group-vertical"><a class="btn btn-default" href="/testruns/Create/@Model.project?test_cycle_test_id=@item.test_cycle_test_id">Run this test</a><a class="btn btn-default" href="/scheduletestruns/Edit/@Model.project/@item.test_cycle_test_id">Edit</a><a class="btn btn-default" href="/scheduletestruns/Delete/@Model.project/@item.test_cycle_test_id">Delete</a></div></td><table-row-footer></table-row-footer>

                i++;
            }</table>@Html.Partial("basefooter")