@model WebApplication6.ViewModel<WebApplication6.runs> 
@Html.Partial("baseheader")
 <br>           
<h2>Delete Test Run </h2>
<br>

   
<form-self  multipartencoding="true"  index="false" />
    <div class="form-horizontal">
        <input type="hidden" name="run_id" for="run_id" value="@Model.entity.run_id" />
<input type="hidden" name="last_modified_by" for="last_modified_by" value="@Model.entity.last_modified_by" />
<input type="hidden" name="last_modified_date" for="last_modified_date" value="@Model.entity.last_modified_date" />
<input type="hidden" name="test_cycle_id" for="test_cycle_id" value="@Model.entity.test_cycle_id" />
<input type="hidden" name="test_id" for="test_id" value="@Model.entity.test_id" />

<div class="form-group">
            <label class="control-label col-md-2" for="test cycle">test cycle</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.test_cycle?.name</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="outcome_id">outcome</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.outcome?.name</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="run_by">run by</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.run_byNavigation?.name</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="run_date">run date</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.run_date</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="description">description</label>
            <div class="col-md-10"><p class="form-control-static">@Model.entity.description</p></div>
            </div>
<div></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" name="Submit" onclick="document.forms[0].submit()" class="btn btn-primary" />Delete</button>
            </div>
        </div>
        <div id="errorstring"></div>
    </div>
</form>
<br>
<div>
    <a class="btn btn-default" href="/testruns/Index/@Model.project"> Back to Index</a><div class="divider"></div><a class="btn btn-default" href="/defects/Create/@Model.project?run_id=@Model.entity.run_id">Report defect from this run</a><div class="divider"></div><a class="btn btn-default" href="/testruns/Edit/@Model.project/@Model.entity.run_id">Edit</a><div class="divider"></div>
</div>


 @Html.Partial("basefooter")