@model WebApplication6.TestRunViewModel<WebApplication6.runs> 
@Html.Partial("baseheader")
 <br>           
<h2>Execute New Test Run (@Model.steps.mvctest.name)</h2>
<br>

   
<form-self  multipartencoding="true"  index="false" />
    <div class="form-horizontal">
        <input type="hidden" name="run_id" for="run_id" value="@Model.entity.run_id" />
<input type="hidden" name="last_modified_by" for="last_modified_by" value="@Model.entity.last_modified_by" />
<input type="hidden" name="last_modified_date" for="last_modified_date" value="@Model.entity.last_modified_date" />
<input type="hidden" name="test_cycle_id" for="test_cycle_id" value="@Model.entity.test_cycle_id" />
<input type="hidden" name="test_id" for="test_id" value="@Model.entity.test_id" />
<test-run-steps steps="@Model.steps"/>        
<h4>Test Outcome</h4><br>
<div class="form-group">
            <label class="control-label col-md-2" for="test cycle">test cycle</label>
            <div class="col-md-10"><p class="form-control-static">Cycle 1</p></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="outcome_id">outcome</label>
            <div class="col-md-10 form-inline"><select class="form-control"   id="outcome_id" name="outcome_id"><dropdown-options for=@Model.dropdowns[0] value=@Model.entity.outcome_id></dropdown-options></select><a class="btn popovertext" href="#" data-html="true" data-content="
&lt;b&gt;Passed&lt;/b&gt;: All steps passed without issue &lt;br/&gt;
&lt;b&gt;Failed&lt;/b&gt;: One or more of the steps did not pass &lt;br/&gt;
&lt;b&gt;Blocked&lt;/b&gt;: Another issue that's not part of this test prevented you from completing the test, such as website issues &lt;br/&gt;
&lt;b&gt;Still In Progress&lt;/b&gt;: Used in case you're in the middle of a test run and need to stop.Has no effect on the reporting and won't show up as completed.You can come back later to finish it." rel="popover" data-placement="bottom" data-trigger="hover"><span style="color: black;" class="glyphicon glyphicon-question-sign"></span></a></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="run_by">run by</label>
            <div class="col-md-10"><select class="form-control"   id="run_by" name="run_by"><dropdown-options for=@Model.dropdowns[1] value=@Model.entity.run_by></dropdown-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="run_date">run date</label>
            <div class="col-md-10"><input type="date" class="form-control" id="run_date" name="run_date" value="@Model.entity.run_date.ToString("yyyy-MM-dd")"/></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="description">description</label>
            <div class="col-md-10"><textarea class="form-control" id="description" name="description"  rows="6"  />@Model.entity.description</textarea></div>
            </div>
<multi-field mf=@Model.mf[0]></multi-field>
<multi-field mf=@Model.mf[1]></multi-field>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" name="Submit" onclick="var form = document.forms[0]; var error = ''; if(form['run_by'].value == -97) {error += 'Must select a user<br>';}; if(error== '') {document.forms[0].submit();} else {document.getElementById('errorstring').innerHTML = error;};" class="btn btn-primary" />Save</button>
            </div>
        </div>
        <div id="errorstring"></div>
    </div>
</form>
<br>
<div>
    <a class="btn btn-default" href="/testruns/Index/@Model.project"> Back to Index</a><div class="divider"></div>
</div>


 @Html.Partial("basefooter")