@model WebApplication6.IndexViewModel<WebApplication6.runs> 
@Html.Partial("baseheader")
 <br>           
<h2>Search Test Runs</h2>
<br>


  <form-self  index="true" />    
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#search">Show/Hide Filters</button>
    <searchdiv/><div class="form-group">
            <label class="control-label col-md-2" for="test_id">test</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="test_id" name="test_id"><filter-options for="@Model.filters[0]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="test_cycle_id">test cycle</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="test_cycle_id" name="test_cycle_id"><filter-options for="@Model.filters[1]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="run_by_id">run by</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="run_by_id" name="run_by_id"><filter-options for="@Model.filters[2]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="outcome_id">outcome</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="outcome_id" name="outcome_id"><filter-options for="@Model.filters[3]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="run on or after">run on or after</label>
            <div class="col-md-10"><input type="date" class="form-control" id="start_date" name="start_date" value="@(ViewContext.HttpContext.Request.Query["start_date"].FirstOrDefault() ?? "2010-01-01")"/></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="run on or before">run on or before</label>
            <div class="col-md-10"><input type="date" class="form-control" id="end_date" name="end_date" value="@(ViewContext.HttpContext.Request.Query["end_date"].FirstOrDefault() ?? DateTime.Now.ToString("yyyy-MM-dd"))"/></div>
            </div>
    <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10 form-inline">
                <input type="submit" name="Search" value="Search" class="btn btn-primary" />
                <a class="btn btn-default" href="/testruns/Index/@Model.project/">Reset</a>
            </div>
    </div></div>
    </form>

<form class="form-horizontal">
<div class="form-group">
<div class="col-md-12  form-inline">
<div class="form-group">
<page-number filters="Model.filters_generic" modellist="Model.entities_generic"></page-number>
</div>
<div style="display: inline-block; width: 20px; height:auto;"></div>
<form class="form-group"><a class="btn btn-default" href="/testruns/CreateSelect/@Model.project/">Create New</a></form>
<div class="divider-s"></div>
<form class="form-group"><input type="submit" name="button_name" value="Generate Report" class="btn btn-default" /></form>
<div class="divider-s"></div>

</div>
</div>
<form>
<table class="table">
<tr>
<th class=col-md-1>test cycle</th>
<th class=col-md-1>test</th>
<th class=col-md-1>run by</th>
<th class=col-md-1>run date</th>
<th class=col-md-1>outcome</th>
<th class=col-md-1>defects</th>
<th class=col-md-2></th></tr>
 @{int i = 0; }
            @foreach (var item in Model.entities)
            {
                <table-row for="@item" rownum="@i" test-cycle-id="@Model.test_cycle_id" columns="@Model.columns"></table-row><td><div class="btn-group-vertical">
@if (Model.role.IsManager())
{
    <a class="btn btn-default" href="/testruns/Create/@Model.project?test_id=@item.test_id">Rerun this test</a><a class="btn btn-default" href="/defects/Create/@Model.project?run_id=@item.run_id">Report new defect from this run</a><a class="btn btn-default" href="/testruns/Edit/@Model.project/@item.run_id">Edit</a><a class="btn btn-default" href="/testruns/Delete/@Model.project/@item.run_id">Delete</a>
}
else
{
    <a class="btn btn-default" href="/testruns/Create/@Model.project?test_id=@item.test_id">Rerun this test</a><a class="btn btn-default" href="/defects/Create/@Model.project?run_id=@item.run_id">Report new defect from this run</a>
}
    </div></td><table-row-footer></table-row-footer>

                i++;
            }</table>@Html.Partial("basefooter")