@model WebApplication6.fields

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>fields</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.field_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.field_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.table.table_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.table.table_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.entity.entity_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.entity.entity_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.field_type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.field_type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.field_length)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.field_length)
        </dd>    
        <dt>
            @Html.DisplayNameFor(model => model.fixed_position)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.column_position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.column_position)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.fixed_position)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.front_end_field)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.front_end_field)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.is_entity_master)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.is_entity_master)
        </dd>
    </dl>
</div>
<p>|
    <a asp-action="Index" asp-route-project="1" asp-route-id="@Model.table_id">Back to List</a>
</p>
