@model WebApplication6.fields

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>


<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>fields</h4>
        <hr />
        
        <input type="hidden" asp-for="field_id" />
        <input type="hidden" asp-for="table_id" />
        <div class="form-group">
            <label asp-for="column_position" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="column_position" class="form-control" />
                <span asp-validation-for="column_position" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger" />
            </div>
        </div>
      

        <div class="form-group">
            <label asp-for="entity_id" class="control-label col-md-2">entity_id</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.entity_id, (SelectList)@ViewData["entity_id"],null,new { @class="form-control" })
            </div>
        </div>

        <div class="form-group">
            <label asp-for="field_length" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="field_length" class="form-control" />
                <span asp-validation-for="field_length" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="field_name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="field_name" class="form-control" />
                <span asp-validation-for="field_name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="field_type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="field_type" class="form-control" />
                <span asp-validation-for="field_type" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="fixed_position" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="fixed_position" class="form-control" />
                <span asp-validation-for="fixed_position" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="front_end_field" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="front_end_field" class="form-control" />
                <span asp-validation-for="front_end_field" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="is_entity_master" />
                    <label asp-for="is_entity_master"></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" asp-route-project="1" asp-route-id="@Model.table_id">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
