@model IEnumerable<WebApplication6.fields>

@{
    ViewData["Title"] = "Index";
}

<h2>Fields</h2>

<br />

<form asp-action="Index">
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-10">
                <input class="form-control" name="name" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">;
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
            <input type="hidden" value="@ViewData["source_id"]" name="sourceid" />
        </div>
    </div>
</form>

<br />


@if ((int)ViewData["source_id"] > 0)
{
    <p>
        <a asp-action="Create" asp-route-project="1" asp-route-id="@ViewData["source_id"]">Create New</a>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.field_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.table.table_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entity.entity_name)
        </th>      
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>     
        <th>
            @Html.DisplayNameFor(model => model.field_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.field_length)
        </th>  
        <th>
            @Html.DisplayNameFor(model => model.column_position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fixed_position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.front_end_field)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_entity_master)
        </th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.field_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.table.table_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entity.entity_name)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.field_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.field_length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.column_position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fixed_position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.front_end_field)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_entity_master)
        </td>
        <td>
            <a asp-action="Edit" asp-route-project="1" asp-route-id="@item.field_id">Edit</a> |
            <a asp-action="Details" asp-route-project="1" asp-route-id="@item.field_id">Details</a> |
            <a asp-action="Delete" asp-route-project="1" asp-route-id="@item.field_id">Delete</a>
        </td>
    </tr>
}
</table>

@if ((int)ViewData["source_id"] > 0)
{
    <a asp-controller="Tables" asp-action="Index" asp-route-project="1" asp-route-id="@ViewData["source_system_id"]">Back to Tables</a>
}
