@model WebApplication6.IndexViewModel<WebApplication6.projects> 
@Html.Partial("baseheader")
 <br>           
<h2>Search Projects</h2>
<br>


   <form-self  index="true" />    
    <div class="form-group">
            <label class="control-label col-md-2" for="name">name</label>
            <div class="col-md-10"><input class="form-control" id="name" name="name" maxlength="50" value="@ViewContext.HttpContext.Request.Query["name"].FirstOrDefault()"  /></div>
            </div>
    <searchdiv/><div class="form-group">
            <label class="control-label col-md-2" for="owner_id">owner</label>
            <div class="col-md-10"><select class="form-control"  onchange="this.form.submit()" id="owner_id" name="owner_id"><filter-options for="@Model.filters[0]"></filter-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="start_date">start date</label>
            <div class="col-md-10"><input type="date" class="form-control" id="start_date" name="start_date" value="@(ViewContext.HttpContext.Request.Query["start_date"].FirstOrDefault() ?? "2010-01-01")"/></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="end_date">end date</label>
            <div class="col-md-10"><input type="date" class="form-control" id="end_date" name="end_date" value="@(ViewContext.HttpContext.Request.Query["end_date"].FirstOrDefault() ?? DateTime.Now.ToString("yyyy-MM-dd"))"/></div>
            </div></div>
    <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10 form-inline">
                <input type="submit" name="Search" value="Search" class="btn btn-primary" />
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#search">Show/Hide Filters</button>
                <a class="btn btn-default" href="/projects/Index/@Model.project/">Reset</a>
            </div>
    </div>
    </form>

<form class="form-horizontal">
<div class="form-group">
<div class="col-md-12  form-inline">
<div class="form-group">
<page-number filters="Model.filters_generic" modellist="Model.entities_generic"></page-number>
</div>
<div style="display: inline-block; width: 20px; height:auto;"></div>
<form class="form-group"><a class="btn btn-default" href="/projects/Create/@Model.project/">Create New</a></form>
<div class="divider-s"></div>
<form class="form-group"></form>
<div class="divider-s"></div>

</div>
</div>
<form>
<table class="table">
<tr>
<th class=col-md-3>name</th>
<th class=col-md-2>owner</th>
<th class=col-md-1>start date</th>
<th class=col-md-1>end date</th>
<th class=col-md-2>current test cycle</th>
<th class=col-md-2></th></tr>
 @{int i = 0; }
            @foreach (var item in Model.entities)
            {
                <table-row for="@item" rownum="@i" test-cycle-id="@Model.test_cycle_id" columns="@Model.columns"></table-row><td><div class="btn-group-vertical"><a class="btn btn-default" href="/projects/Edit/@Model.project/@item.project_id">Edit</a></div></td><table-row-footer></table-row-footer>

                i++;
            }</table>@Html.Partial("basefooter")