@model WebApplication6.ViewModel<WebApplication6.projects> 
@Html.Partial("baseheader")
 <br>           
<h2>Edit Project </h2>
<br>

   
<form-self  index="false" />
    <div class="form-horizontal">
        <input type="hidden" name="project_id" for="project_id" value="@Model.entity.project_id" />
<input type="hidden" name="last_modified_by" for="last_modified_by" value="@Model.entity.last_modified_by" />
<input type="hidden" name="last_modified_date" for="last_modified_date" value="@Model.entity.last_modified_date" />
<div class="form-group">
            <label class="control-label col-md-2" for="name">name</label>
            <div class="col-md-10"><input class="form-control" id="name" name="name" maxlength="50" value="@Model.entity.name"  /></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="description">description</label>
            <div class="col-md-10"><textarea class="form-control" id="description" name="description"  rows="6"  />@Model.entity.description</textarea></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="start_date">start date</label>
            <div class="col-md-10"><input type="date" class="form-control" id="start_date" name="start_date" value="@Model.entity.start_date.ToString("yyyy-MM-dd")"/></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="end_date">end date</label>
            <div class="col-md-10"><input type="date" class="form-control" id="end_date" name="end_date" value="@((Model.entity.end_date ?? Model.entity.start_date).ToString("yyyy-MM-dd"))"/></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="owner_id">owner</label>
            <div class="col-md-10"><select class="form-control"   id="owner_id" name="owner_id"><dropdown-options for=@Model.dropdowns[0] value=@Model.entity.owner_id></dropdown-options></select></div>
            </div>
<div class="form-group">
            <label class="control-label col-md-2" for="current_test_cycle_id">current test cycle</label>
            <div class="col-md-10"><select class="form-control"   id="current_test_cycle_id" name="current_test_cycle_id"><dropdown-options for=@Model.dropdowns[1] value=@Model.entity.current_test_cycle_id></dropdown-options></select></div>
            </div>
<multi-field mf=@Model.mf[0]></multi-field>
<multi-field mf=@Model.mf[1]></multi-field>
<multi-field mf=@Model.mf[2]></multi-field>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" name="Submit" onclick="var form = document.forms[0]; var error = ''; if(form['start_date'].value > form['end_date'].value) {error += 'Project start date must be before or the same as project end date<br>';};if(form['name'].value.length < 5) {error += 'Name must be greater than 4 characters<br>';};if(form['users_projects_roles_id'] == undefined) {error += 'Must have at least one user<br>';}; if(error== '') {document.forms[0].submit();} else {document.getElementById('errorstring').innerHTML = error;};" class="btn btn-primary" />Save</button>
            </div>
        </div>
        <div id="errorstring"></div>
    </div>
</form>
<br>
<div>
    <a class="btn btn-default" href="/projects/Index/@Model.project"> Back to Index</a><div class="divider"></div>
</div>


 @Html.Partial("basefooter")