@model WebApplication6.interfaces

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>interfaces</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.argument1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.argument1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.external_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.external_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.interface_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.interface_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.procedure_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.procedure_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.schedule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.schedule)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.script)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.script)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.future_script)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.future_script)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.servers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.servers)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
