@model WebApplication6.interfaces

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>interfaces</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.interface_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.interface_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.external_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.external_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.procedure_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.procedure_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.schedule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.schedule)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.servers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.servers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.script)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.script)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.future_script)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.future_script)
        </dd>
        <dt>
            <label class="col-md-2 control-label">ETL Source File</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.argument1)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-project="1" asp-route-id="@Model.interface_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
