@model WebApplication6.interfaces

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        
        <div class="form-group">
            <label asp-for="interface_name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="interface_name" class="form-control" />
                <span asp-validation-for="interface_name" class="text-danger" />
            </div>
        </div>
        <input type="hidden" asp-for="interface_id" />
        <div class="form-group">
            <label asp-for="external_id" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="external_id" class="form-control" />
                <span asp-validation-for="external_id" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="procedure_name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="procedure_name" class="form-control" />
                <span asp-validation-for="procedure_name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="schedule" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="schedule" class="form-control" />
                <span asp-validation-for="schedule" class="text-danger" />
            </div>
        </div>
     
        <div class="form-group">
            <label asp-for="servers" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="servers" class="form-control" />
                <span asp-validation-for="servers" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="script" class="col-md-2 control-label"></label>
            <div class="col-lg-10">
                <textarea asp-for="script" rows="4" class="form-control"></textarea>
                <span asp-validation-for="script" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="future_script" class="col-md-2 control-label"></label>
            <div class="col-lg-10">
                <textarea asp-for="future_script" rows="4" class="form-control"></textarea>
                <span asp-validation-for="future_script" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">ETL Source File</label>
            <div class="col-md-10">
                <input asp-for="argument1" class="form-control" />
                <span asp-validation-for="argument1" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save and Process Scripts" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>



@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
