@model IEnumerable<WebApplication6.interfaces>

@{
    ViewData["Title"] = "Index";
}

<h2>Interfaces</h2>

<br />

<form asp-action="Index">
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-10">
                <input class="form-control" name="name" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<br />

<p>
    <a asp-action="Create" asp->Create New</a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.external_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.interface_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.procedure_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.servers)
        </th>
        <th>
            ETL Source File
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.external_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.interface_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.procedure_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.servers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.argument1)
        </td>
        <td>
            <a asp-action="Edit" asp-route-project="1" asp-route-id="@item.interface_id">Edit</a> |
            <a asp-action="Details" asp-route-project="1" asp-route-id="@item.interface_id">Details</a> |
            <a asp-action="Delete" asp-route-project="1" asp-route-id="@item.interface_id">Delete</a> |
            <a asp-controller="links" asp-action="Index" asp-route-project="1" asp-route-id="@item.interface_id">Links</a>
        </td>
    </tr>
}
</table>


