@model WebApplication6.CanvasInitialViewModel

@{
    ViewData["Title"] = "View Interface";
}

<h2>View Interface</h2>

<div id="canvasdiv" style="height:1000px; width:1200px; overflow:scroll; float:left; border:1px solid #000000">
    <canvas id="myCanvas" width="4000" height="4000"></canvas>
</div>
<div id="canvasdiv2" style="height:1000px; width:400px; float:left; border:1px solid #000000">
    <canvas id="myCanvas2" width="400" height="1000"></canvas>
</div>
<script type="text/javascript">

    var cnv;
    var c;
    var cnv2;
    var c2;
    var cnvx;
    var cx;
    var cnv2x;
    var c2x;
    var model;
    var maintable;
    var forwardlinks;
    var backlinks;
    var forwardtables;
    var backtables;
    var cursorX;
    var cursorY;
    var selected_link_id;
    var selected_field1_id;
    var selected_field2_id;
    var original_id;
    var original_type;
    var original_x;
    var original_y;
    var camera_x;
    var camera_y;
    var num_field_selected;
    var included_interfaces;
    var all_interfaces;
    var all_interfaces_names;
    var numcalls;
    var time;
    var cached1;
    var cached2;
    var image1;
    var image2;
    var cnvdiv;
    var test1;
    var test2;
    var is_current;


    window.onload = function ()
    {
        cnvx = document.getElementById("myCanvas");
        cnvdiv = document.getElementById("canvasdiv");
        cx = cnvx.getContext("2d");
        cnv2x = document.getElementById("myCanvas2");
        c2x = cnv2x.getContext("2d");
        c2x.font = "15px sans-serif"

        cnvdiv.scrollTop = 1000;
        cnvdiv.scrollLeft = 1200;

        cached1 = document.createElement("canvas");
        cached2 = document.createElement("canvas");
        image1 = new Image();
        image2 = new Image();

        is_current = true;

        cached1.width = 800;
        cached1.height = 1800;
        cached2.width = 400;
        cached2.height = 500;

        c = cached1.getContext("2d");
        c2 = cached2.getContext("2d");
        c2.font = "15px sans-serif"

        selected_link_id = -1;
        selected_field1_id = -1;
        selected_field2_id = -1;

        cnvx.addEventListener('click', function() { canvasclick(); }, false);

        cnv2x.addEventListener('click', function() { canvas2click(); }, false);

        selected_link_id = @Html.Raw(Model.initial_id);

        var tosend_ = JSON.stringify({ original_id: 0, original_type: "new", new_id: Math.round(selected_link_id), new_type: "link", is_current: is_current })

       
       
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetModel","Links")",
            data: tosend_,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(model)
        {

                maintable = model.maintable;

                tables = model.tables;
                links = model.links;
                included_interfaces = model.included_interfaces;

                all_interfaces = model.all_interfaces;
                all_interfaces_names = model.all_interfaces_names;

                camera_x = 0;
                camera_y = model.num_field_selected * 16 + 150;

                selected_field1_id = model.link.source_field_id;

                num_field_selected = model.num_field_selected;
                selected_field2_id = model.link.dest_field_id;

                original_id = maintable.table_id;
                original_type = "table";
                original_x = maintable.x;
                original_y = maintable.y;

                cnvdiv.setAttribute("width",window.innerWidth+"px");

                numcalls = 0;
                time = Date.now()


                redraw()

                draw()

        },
        error: function(e) {
            alert(JSON.stringify(e))
        }
    });










    }

    document.onmousemove = function(e){

        var rect2 = cnvx.getBoundingClientRect();
        cursorX = Math.round(e.pageX - rect2.left + camera_x);
        cursorY = Math.round(e.pageY - rect2.top + camera_y);
    }


    function draw()
    {
        //numcalls++;
        //if(numcalls==500)
        //{
        //    alert((Date.now()-time)/1000)
        //
        //}

        var xdiff = (camera_x - (maintable.x - 1750))
        var ydiff = (camera_y - (maintable.y - 1500 + num_field_selected * 16 + 150))



        if(Math.abs(xdiff)>6 || Math.abs(ydiff)>6)
        {
            var angle = Math.atan2(ydiff,xdiff);

            if(xdiff>6) {camera_x -= 12*Math.cos(angle)}
            if(xdiff<-6) {camera_x -= 12*Math.cos(angle);}
            if(ydiff>6) {camera_y -= 12*Math.sin(angle)}
            if(ydiff<-6) {camera_y -= 12*Math.sin(angle)}
        }

        cx.clearRect(0,0,cnvx.width,cnvx.height);
        c2x.clearRect(0, 0, cnv2x.width, cnv2x.height);

        cx.drawImage(image1,-camera_x+(maintable.x - 400),-camera_y+(maintable.y - 900))
        c2x.drawImage(image2,0,0)

        setTimeout(draw,50)
    }

    function redraw()
    {
        var tx = (maintable.x - 400)
        var ty = (maintable.y - 900)

        c.clearRect(0,0, cached1.width, cached1.height);
        c2.clearRect(0, 0, cached2.width, cached2.height);

        c.fillStyle = "#000000"


            c.strokeRect(maintable.x-tx,maintable.y-ty,125,16+maintable.fields.length*16)
            c.fillText(maintable.table_name, maintable.x + 75 - (maintable.table_name.length*3.5)-tx , maintable.y + 12 + maintable.fields.length * 16 + 17-ty )

        for(i=0; i<maintable.fields.length;i++)
        {

            if(maintable.fields[i].field_id == selected_field1_id || maintable.fields[i].field_id == selected_field2_id)
            {
                c.fillStyle = "#FF0000"
            }
            c.fillText(maintable.fields[i].field_name, maintable.x + 6 - tx, maintable.y + 12 + i * 16 - ty)
            c.fillStyle = "#000000"
        }

        for(j=0;j<tables.length;j++)
        {
            var table = tables[j];
            c.strokeRect(table.x-tx,table.y-ty,125,16+table.fields.length*16)

            for(i=0; i<table.fields.length;i++)
            {
                if(table.fields[i].field_id == selected_field1_id || table.fields[i].field_id == selected_field2_id)
                {
                    c.fillStyle = "#FF0000"
                }
                c.fillText(table.fields[i].field_name, table.x + 6 - tx, table.y + 12 + i * 16 - ty)
                c.fillStyle = "#000000"
            }

            c.fillText(table.table_name, table.x + 75 - (table.table_name.length*3.5) - tx , table.y + 12 + table.fields.length * 16 + 17 - ty)
        }


        
        c.beginPath()
        for(j=0;j<links.length;j++)
        {
            var link = links[j];
            if(link.link_id == selected_link_id)
            {
                c.strokeStyle = "#FF0000"
                c.moveTo(link.x1-tx,link.y1-ty)
                c.lineTo(link.x2-tx,link.y2-ty)
            }
        }
        c.stroke()


     
        c.beginPath()
        for(j=0;j<links.length;j++)
        {
            var link = links[j];
            if(link.link_id != selected_link_id)
            {
                c.strokeStyle = "#000000"
                c.moveTo(link.x1-tx,link.y1-ty)
                c.lineTo(link.x2-tx,link.y2-ty)
            }
        }
        c.stroke()


        c2.strokeRect(16,96,200,20)
        if(is_current) {c2.fillText("Future State", 22, 96+16)} else {c2.fillText("Current State", 22, 96+16)}

        for(j=0;j<all_interfaces.length;j++)
        {
            if(!included_interfaces.contains(all_interfaces[j]))
            {
                c2.strokeStyle = "#808080"
                c2.fillStyle = "#808080"
            }
            c2.strokeRect(16,120+j*32,200,32)
            c2.fillText(all_interfaces_names[j], 22, 120+j*32+16)
            c2.strokeStyle = "#000000"
            c2.fillStyle = "#000000"
        }




        if(selected_link_id != -1)
        {
            var link = $.grep(links, function( a ) {return a.link_id == selected_link_id})

            if(link.length>0)
            {
                c2.font = "10px sans-serif"
                var lnk = link[0]

                c2.fillText("Source Field: "+ lnk.source_field,16,16)
                c2.fillText("Source Table: "+ lnk.source_field_table,16,28)
                c2.fillText("Source Type: "+ lnk.source_field_type,16,40)
                c2.fillText("Destination Field: "+ lnk.dest_field,16,52)
                c2.fillText("Destination Table: "+ lnk.dest_field_table,16,64)
                c2.fillText("Destination Type: "+ lnk.dest_field_type,16,76)

                c2.fillText("Interface: "+ lnk.interface_name,16,88)
                c2.font = "15px sans-serif"
            }


        }
        else if(selected_field1_id != -1)
        {
            var tbl1 = $.grep(tables, function( a ) {var flds = $.grep(a.fields, function( b ) {return b.field_id == selected_field1_id}); return flds.length==1;})
            var fld;
            if(tbl1.length == 0)
            {
                fld = $.grep(maintable.fields, function( a ) {return a.field_id == selected_field1_id})
                if(fld.length>0)
                {
                    c2.fillText("Field: "+ fld[0].field_name,16,16)
                    c2.fillText("Table: "+ fld[0].table,16,32)
                    c2.fillText("Datatype: "+ fld[0].datatype,16,48)
                    c2.fillText("Entity: "+ fld[0].entity,16,64)

                }
            }
            else
            {
                fld = $.grep(tbl.fields, function( a ) {return a.field_id == selected_field1_id})
                if(fld.length>0)
                {
                    c2.fillText("Field: "+ fld[0].field_name,16,16)
                    c2.fillText("Table: "+ fld[0].table,16,32)
                    c2.fillText("Datatype: "+ fld[0].datatype,16,48)
                    c2.fillText("Entity: "+ fld[0].entity,16,64)
                }
            }

           

        }



        /*cached1.toBlob(function(blob) {

                url = URL.createObjectURL(blob);
                image1.src = url;

        });

        cached2.toBlob(function(blob) {

            url2 = URL.createObjectURL(blob);
            image2.src = url2;

        });*/



        image1.src = cached1.toDataURL("image/png")

        image2.src = cached2.toDataURL("image/png")

        }

        function canvas2click()
    {

            var rect2 = cnv2x.getBoundingClientRect();
            var xx = event.clientX - rect2.left;
            var yy = event.clientY - rect2.top;

            if(xx > 16 && xx < 216 && yy > 96 && yy < 116 )
            {
                var tosend_ = JSON.stringify({ original_id: Math.round(original_id), original_type: "filter", new_id: Math.round(selected_field1_id), new_type: "table", original_x: Math.round(original_x), original_y: Math.round(original_y), new_x: Math.round(maintable.x), new_y: Math.round(maintable.y), including_interface_ids:included_interfaces, is_current:!is_current })

                is_current = !is_current

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetModel","Links")",
                    data: tosend_,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(model)
                {

                    maintable = model.maintable;
                    tables = model.tables;
                    links = model.links;
                    field = model.field;

                    original_id = maintable.table_id
                    original_x = maintable.x
                    original_y = maintable.y

                    included_interfaces = model.included_interfaces;
                    all_interfaces = model.all_interfaces;
                    all_interfaces_names = model.all_interfaces_names;

                    selected_field1_id = field.field_id;


                    selected_field2_id = -1;
                    selected_link_id = -1;
                    num_field_selected = model.num_field_selected;

                    redraw()

                },
                error: function(e) {
                    alert(JSON.stringify(e))
                }})
            }

            if(xx > 16 && xx < 216 && yy > 120 && yy < 120 + all_interfaces.length*32 )
            {
                var ind = Math.min(all_interfaces.length-1,Math.max(0,Math.ceil((yy - 120) / 32)-1));
                var index = all_interfaces[ind];


                var pos = included_interfaces.indexOf(index)

                if(pos>-1)
                {
                     included_interfaces.splice(pos,1)
                }
                else
                {
                    included_interfaces.push(index)
                }


                var tosend_ = JSON.stringify({ original_id: Math.round(original_id), original_type: "filter", new_id: Math.round(selected_field1_id), new_type: "table", original_x: Math.round(original_x), original_y: Math.round(original_y), new_x: Math.round(maintable.x), new_y: Math.round(maintable.y), including_interface_ids:included_interfaces, is_current:is_current })


                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetModel","Links")",
                    data: tosend_,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(model)
                {

                    maintable = model.maintable;
                    tables = model.tables;
                    links = model.links;
                    field = model.field;

                    original_id = maintable.table_id
                    original_x = maintable.x
                    original_y = maintable.y

                    included_interfaces = model.included_interfaces;
                    all_interfaces = model.all_interfaces;
                    all_interfaces_names = model.all_interfaces_names;

                    selected_field1_id = field.field_id;


                    selected_field2_id = -1;
                    selected_link_id = -1;
                    num_field_selected = model.num_field_selected;

                    redraw()

                },
                error: function(e) {
                    alert(JSON.stringify(e))
                }})

            }
        }

    function canvasclick()
    {
        var rect = cnvx.getBoundingClientRect();
        var xx = event.clientX - rect.left + camera_x;
        var yy = event.clientY - rect.top + camera_y;

        var table = maintable;

        if(xx > table.x && yy > table.y && xx < table.x+125 && yy < table.y + 12 + table.fields.length * 16)
        {
            num_field_selected = Math.max(0,Math.min(table.fields.length-1,Math.ceil((yy - table.y) / 16)-1))
            selected_field1_id = table.fields[num_field_selected].field_id;

            selected_field2_id = -1;
            selected_link_id = -1;

            redraw()

            return;
        }

        for(j=0;j<tables.length;j++)
        {
            table = tables[j];

            if(xx > table.x && yy > table.y && xx < table.x+125 && yy < table.y + 12 + table.fields.length * 16)
            {
                var new_field = table.fields[Math.max(0,Math.min(table.fields.length-1,Math.ceil((yy - table.y) / 16)-1))];

                var tosend_ = JSON.stringify({ original_id: Math.round(original_id), original_type: original_type, new_id: Math.round(new_field.field_id), new_type: "table", original_x: Math.round(original_x), original_y: Math.round(original_y), new_x: Math.round(table.x), new_y: Math.round(table.y), including_interface_ids:included_interfaces, is_current:is_current })
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetModel","Links")",
                    data: tosend_,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(model)
                    {

                        maintable = model.maintable;
                        tables = model.tables;
                        links = model.links;
                        field = model.field;

                        included_interfaces = model.included_interfaces;
                        all_interfaces = model.all_interfaces;
                        all_interfaces_names = model.all_interfaces_names;

                        original_id = maintable.table_id
                        original_type = maintable.type
                        original_x = maintable.x
                        original_y = maintable.y

                        selected_field1_id = field.field_id;
                        selected_field2_id = -1;
                        selected_link_id = -1;
                        num_field_selected = model.num_field_selected;

                        redraw()


                    },
                    error: function(e) {
                        alert(JSON.stringify(e))
                    }})

                return;
            }
        }

        var tosend = JSON.stringify({ links:links, x:xx, y:yy})

        $.ajax({
            type: "POST",
            url: "@Url.Action("MinDist","Links")",
            data: tosend,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(msg)
            {

                if(msg.id > -1)
                {
                    var selected = $.grep(links, function( a ) {return a.link_id == msg.id})[0]



                    selected_link_id = selected.link_id;
                    selected_field1_id = selected.source_field_id;

                    selected_field2_id = selected.dest_field_id;

                    redraw()

                }



            },
            error: function(e) {
                alert(JSON.stringify(e))
        }
        });




    }

    Array.prototype.contains = function(obj) {
        var i = this.length;
        while (i--) {
            if (this[i] == obj) {
                return true;
            }
        }
        return false;
    }
</script>
