@model WebApplication6.links

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>links</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._interface.interface_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._interface.interface_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.is_future)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.is_future)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.batch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.batch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.link_column_num)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.link_column_num)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.source_field.table.table_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.source_field.table.table_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.source_field.field_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.source_field.field_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.destination_field.table.table_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.destination_field.table.table_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.destination_field.field_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._interface.interface_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.transformation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.transformation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.business_logic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.business_logic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.where_conditions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.where_conditions)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-project="1" asp-route-id="@Model.link_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
