@model IEnumerable<WebApplication6.ExceptionReportViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Exception Report</h2>

<br />

<table class="table" align="left">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.interface_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exception)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_future)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.source_field)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dest_field)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transformation)
        </th>
        <th>Options</th>
</tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.interface_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exception)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_future)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.source_field)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dest_field)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transformation)
        </td>
        <td>
            <a asp-action="Canvas" asp-route-param1="@item.link_id" asp-route-param2="link">View</a> |
            <a asp-action="Edit" asp-route-project="1" asp-route-id="@item.link_id">Edit</a> |     
        </td>
    </tr>
}
</table>
