@model IEnumerable<WebApplication6.links>

@{
    ViewData["Title"] = "Index";
}

<h2>Links</h2>

<br />

<form asp-action="Index">
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-10">
                <input class="form-control" name="name" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
            <input type="hidden" value="@ViewData["source_id"]" name="sourceid" />
        </div>
    </div>
</form>

<br />

<table class="table" align="left">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.is_future)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.batch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.link_column_num)
        </th>
        <th>
            Source Table
        </th>
        <th>
            Source Field
        </th>
        <th>
            Destination Table
        </th>
        <th>
            Destination Field
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.is_future)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.batch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.link_column_num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.source_field.table.table_name)
        </td>
        <td>           
            @Html.DisplayFor(modelItem => item.source_field.field_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destination_field.table.table_name)         
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destination_field.field_name)
        </td>
        <td>
            <a asp-controller="Links" asp-action="Canvas" asp-route-param1="@item.link_id" asp-route-param2="link">View</a>
            <a asp-action="Details" asp-route-project="1" asp-route-id="@item.link_id">Details</a> |
            <a asp-action="Edit" asp-route-project="1" asp-route-id="@item.link_id">Edit</a> |
            <a asp-action="Delete" asp-route-project="1" asp-route-id="@item.link_id">Delete</a>            
        </td>
    </tr>
}
</table>

@if ((int)ViewData["source_id"] > 0)
{
    <a asp-controller="interfaces" asp-action="Index" asp-route-project="1" asp-route-id="@ViewData["source_id"]">Back to Interfaces</a>
}
