﻿@using System.Security.Claims

@if (true)
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <!--<a asp-controller="Manage" asp-action="Index" title="Manage">Hello!</a>-->
            </li>
            <li>
                <!--<button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>-->
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <!--<li><a asp-controller="Account" asp-action="Register">Register</a></li>-->
        <!--<li><a asp-controller="Account" asp-action="Login">Log in</a></li>-->
    </ul>
}
