﻿

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Management Tool</title>



    <link rel="stylesheet" href="//cwd5.web01.lincoln.ac.uk/cwd-min.css">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="icon" href="/favicon.png" type="image/x-icon">

    <style>
        table {
            table-layout: fixed;
            word-wrap: break-word;
            font-size: 13px;
        }

        .form-control {
            max-width: 400px;
        }

        .form-inline .form-group {
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            margin-bottom: 0;
        }

        .divider {
            width: 8px;
            height: auto;
            display: inline-block;
        }

        .divider-s {
            width: 0px;
            height: auto;
            display: inline-block;
        }
    </style>
</head>
<body>
    <header id="cwd-header">
        <div class="container"/>
            <div id="cwd-header-title">
                <div style="float:right;">
                    <img style="margin-top: 8px; width: 50px; height: 50px; float:left;" src="/logo.png">
                    <p style="font-size: 24px; font-weight: bold; color: white; margin-left:10px; margin-right:10px; margin-top:16px; float:left;">Test Management Tool</p>

                </div>

            </div>

            <div id="cwd-navbar" class="navbar navbar-default" role="navigation">
                <ul class="nav navbar-nav">

                    <header-links></header-links>

                </ul>
                <div style="float:right; margin-top:3px;">
                    <select style="height:26px !important; font-size:10px; display: inline-block;" class="form-control" onchange="var url = $(this).val(); if (url) {window.location = url;} return false;" id="changeproject" name="changeproject"><project-dropdown-options></project-dropdown-options></select>
                </div>
            </div>

    </header>

   
    <script src="//cwd5.web01.lincoln.ac.uk/cwd-min.js"></script>


    <div class="container body-content"/>
        </body>
