﻿
<div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer class="container" id="cwd-footer">
            <div class="row">
                <div class="col-sm-6 col-lg-8">
                    <!-- do not remove the copyright logo. -->
                    &copy; University of Lincoln
                    <!-- Leave this here - the CWD version is written here using JavaScript on page load. -->
                    <div id="cwd-version">version</div>
                </div>

                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="http://support.lincoln.ac.uk/" target="_blank">ICT Support Desk</a>
                        </li>
                        <li>
                            <a href="http://lincoln.ac.uk/home/termsconditions/" target="_blank">Policy Statements</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="http://gateway.lincoln.ac.uk/" target="_blank">Gateway</a></li>
                        <li><a href="http://lincoln.ac.uk/" target="_blank">www.lincoln.ac.uk</a></li>
                    </ul>
                </div>
            </div>
        </footer>

    </div>


    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/tooltip.js"></script>
    <script src="/js/popover.js"></script>

<script>
function isValidDate(dateString) {
  var regEx = /^\d{4}-\d{2}-\d{2}$/;
  if(!dateString.match(regEx))
    return false;  // Invalid format
  var d;
  if(!((d = new Date(dateString))|0))
    return false; // Invalid date (or this could be epoch)
  return d.toISOString().slice(0,10) == dateString;
}
</script>


    <script>
$(document).ready(function() {
    $('.popovertext').popover();
});</script>



